.container
  .filter-box   
    = form_tag(discovers_path, :method => :get, :html => { :class => 'form-inline' }) do
      = select_tag :type, options_for_select(@type_select, params[:type])
      = select_tag :sort, options_for_select(@sort_select, params[:sort])
      = submit_tag 'Filter', :class => 'btn'
    .clear
.container
  .main-section
    - @discovers.each do |discovery|
      =render :partial => 'partials/discover_card', :locals => {:discover => discovery}


    .clear
    = will_paginate @discovers

  .sidebar
    .modal_box.adv-box
      = image_tag 'banner.png'   
      = cms_snippet_content('discover_index_banner') 
    .modal_box
      .modal_title1 HIGH FIVES!
      .modal_body
        .media
          .pull-left
            .checked_icon
          .media-body
            %a{:href => "#"} 
              %span.media-heading Jen Miesler
              %br
              7 consecutive checkins
        .media
          .pull-left
            .ok_icon
          .media-body
            %a{:href => "#"} 
              %span.media-heading Candice S
              %br
              Most props today
        .media
          .pull-left
            .checked_icon
          .media-body
            %a{:href => "#"} 
              %span.media-heading Mai   Curran 
              %br
              First complete goal
        .media
          .pull-left
            .checked_icon
          .media-body
            %a{:href => "#"} 
              %span.media-heading Ktimene Gensler
              %br
              6 months regular check ins
        .media
          .pull-left
            .checked_icon
          .media-body
            %a{:href => "#"} 
              %span.media-heading Ulrika Henessen
              %br 
              6 consecutive checkins
        .media
          .pull-left
            .flag_icon
          .media-body
            %a{:href => "#"} 
              %span.media-heading Just Jenna
              %br
              Completed all goals
        .media
          .pull-left
            .checked_icon
          .media-body
            %a{:href => "#"} 
              %span.media-heading Molly G
              %br
              4 consecutive checkins
        .media
          .pull-left
            .checked_icon
          .media-body
            %a{:href => "#"} 
              %span.media-heading Loren Adams
              %br
              28 check ins in 1 month
      