<div class="row">
  <div class="twelve columns">
    <h1>Redirections</h1>

    <div class="panel">
      <%= link_to 'New Redirection', new_dashboard_redirection_path, :class => 'button' %>
    </div>
    <table class="twelve">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Key</th>
        <th>External URL</th>
        <th>Hits</th>
        <th>Publish Status</th>
      </tr>
      </thead>
      <tbody>
      <% @redirections.each do |redirection| %>
          <tr>
            <td><%= redirection.id %></td>
            <td><%= link_to(redirection.name, dashboard_redirection_path(redirection)) %></td>
            <td><%= redirection.key %></td>
            <td><%= redirection.external_url %></td>
            <td><%= redirection.hits %></td>
            <td><%= redirection.publish_status %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
