<table class="twelve">
  <thead>
  <tr>
    <th>Affiliate</th>
    <th>Total Units Sold</th>
    <th>Total Units Refunded</th>
    <th>Refund Rates</th>
    <th>Total Sales</th>
    <th>Affiliate Pay Out</th>
    <th>Owner Pay Out</th>
    <th>Ideal Me Pay Out</th>
  </tr>
  </thead>
  <tbody>
  <% @affiliate.each_pair do |affiliate, sum_affiliate| %>
      <tr>
        <td><%= link_to "#{affiliate.firstname} #{affiliate.lastname}", user_path(affiliate) %></td>
        <td><%= sum_affiliate[:orders_length] %></td>
        <td><%= sum_affiliate[:refunds_length] %></td>
        <td><%= number_to_percentage(sum_affiliate[:refunds_length].to_f/(sum_affiliate[:refunds_length]+sum_affiliate[:orders_length]).to_f*100, :precision => 2) %></td>
        <td><%= penny_to_currency(sum_affiliate[:sum_gross], :precision => 4) %></td>
        <td><%= penny_to_currency(sum_affiliate[:sum_affiliate_fee], :precision => 4) %></td>
        <td><%= penny_to_currency(sum_affiliate[:sum_gross] - sum_affiliate[:sum_fee] - sum_affiliate[:sum_affiliate_fee], :precision => 4) %></td>
        <td><%= penny_to_currency(sum_affiliate[:sum_fee], :precision => 4) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
