<p>
  <strong>Total units sold:</strong> <%= @sum_sales_count %>
</p>

<p>
  <strong>Total sales:</strong> <%= penny_to_currency(@sum_gross, :precision => 4) %>
</p>
<p>
  <strong>Total affiliates pay out:</strong> <%= penny_to_currency(@sum_affiliate_fee, :precision => 4) %>
</p>
<p>
  <strong>Total owner pay
    out:</strong> <%= penny_to_currency(@sum_gross - @sum_fee - @sum_affiliate_fee, :precision => 4) %>
</p>
<p>
  <strong>Total Ideal Me pay out:</strong> <%= penny_to_currency(@sum_fee, :precision => 4) %>
</p>

