<table class="twelve">
  <thead>
  <tr>
    <th>Order</th>
    <th>Status</th>
    <th>Cost</th>
    <th>Affiliate</th>
    <th>Affiliate Pay Out</th>
    <th>Owner Pay Out</th>
    <th>Ideal Me Pay Out</th>
    <th>Transaction Date</th>
  </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
      <tr>
        <td><%= link_to("#{order.user.firstname} #{order.user.lastname}", user_path(order.user)) %></td>
        <td><%= order.order_status_to_s %></td>
        <td><%= penny_to_currency(order.gross, :precision => 4) %></td>
        <td><%= order.affiliate_sale ? link_to("#{order.affiliate_sale.user.firstname} #{order.affiliate_sale.user.lastname}", user_path(order.affiliate_sale.user)) : '' %></td>
        <td><%= penny_to_currency(order.affiliate_fee, :precision => 4) %></td>
        <td><%= penny_to_currency(order.gross- order.fee-order.affiliate_fee, :precision => 4) %></td>
        <td><%= penny_to_currency(order.fee, :precision => 4) %></td>
        <td><%= l (order.created_at) %></td>
      </tr>
  <% end %>
  </tbody>
</table>