<div class="container">
  <div id="column">
    <div id="outer">
      <%= image_tag('action_sidekick_headline.png', :height => 100, :width => 900) %>
      <div id="container" class="clearfix">
        <div class="upsell-hero">
          <%= image_tag('action_sidekick.png', :height => 383, :width => 435) %>
        </div>
        <div class="upsell-cta">
          <div id="stocknotice">
            <h3><strong>The Ideal Me Action Sidekick</strong></h3>
          </div>
          <p>
            <strong>For a Limited Time: <strike>$97</strike> $47</strong><br>
            Tell Us Where We Can Send Yours Below:
          </p>
          <div align="center">
            <p><b>Claim yours now!</b></p>
            <!-- <div class="price-area">Each Printed Workbook&nbsp;-  FREE + $7 S&amp;H</div> -->
            <p><a href="#order"><%= image_tag('nextpage-button3.png') %></a></p>
            <p><%= image_tag('secure-privacy.png', :height => 97, :width => 300) %></p>
          </div>
        </div>
      </div>

      <div class="vid-player">
        <iframe src="//fast.wistia.net/embed/iframe/i3lfb6jgkp" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="556"></iframe>
      </div>

      <div class="what-theyre-saying">
        <h2>Here's What People Are Saying:  </h2>
        <%= image_tag('Testimonials.jpg', :style => 'margin-bottom:8px;', :height => 353, :width => 375) %>
      </div>

      <div class="book-features">
        <h2>With the Ideal Me Action SideKickTM (a $97 value), you’ll:</h2>
        <ul class="smallchecks">
          <li>Plan your day in <strong>less than 60 Seconds.</strong></li>
          <li>Break goals down into <strong>BITE-SIZE daily actions.</strong></li>
          <li>Easily set timers for your tasks in <strong>ONE sitting</strong> (Actions can be as little as 5 minutes or up to 8 hours. It’s up to you!)</li>
          <li>Track your success (You check off completed actions, so you <strong>SEE your progress</strong></li>
        </ul>
        <p>You’ll get the <strong>Windows</strong> AND <strong>Mac</strong> versions, and <strong>FREE lifetime upgrades.</strong></p>
        <h2>Plus, you’ll get these BONUS RESOURCES:</h2>
        <ul class="smallchecks">
          <li><strong>The Action SideKick TM Video Course – (A $17 Value)</strong>
            <p>An easy-to-follow video showing you how to get the most out your Action SideKick. You’ll create an action, assign it a specific time, plan for breaks—and create a report so you see how you really spend your time. Within minutes, you’ll be hands-on with your Action SideKick!</p>
          </li>
          <li><strong>Your “Ideal Me Unleashed!” Training Guide – (A $37 Value)</strong>
            <p>Discover <strong>unique time and mindset hacks</strong>, so you can achieve your Ideal Me faster. You’ll discover:
            </p>
            <ul>
              <li>Why and HOW to create a simple, <strong>effective plan</strong> that brings <strong>STRUCTURE</strong> and <strong>ORDER</strong> to your day.</li>
              <li><strong>Easy solutions to overcome mental</strong> traps you may be setting for yourself.</li>
              <li><strong>Mindset boosts</strong> to <strong><em>push through “low productivity” zones</em></strong> in your day.</li>
              <li>How to work in a state of “flow” to achieve <strong>faster and BETTER results.</strong></li>
              <li>How to get your brain to quit telling you “NO” and <strong>start telling you “YES!”</strong></li>
              <li><strong>“Mini-blueprints” for accomplishing BIG tasks</strong> like never before.</li>
              <li>Why the last minutes of TODAY may be the <strong>most important for tomorrow.</strong></li>
              <li>And <strong>MORE!</strong></li>
            </ul>
           </li>  
          <ul>
      </div>

      <div class="claim col-sm-12">
        <a id="order"></a>
        <h1 align="center">Claim Your Action Sidekick for only <span class="red1"><strike>$97</strike></span> $47</h1>
      </div>

      <div class="row">
      <div class="pay-section col-sm-5">
        <%= render partial: "orders/form" %>
        <a href="/continuity-offer-1" class="btn btn-default btn-decline-purchase">No thanks</a>
      </div>

      <div id="rightcol" class="col-sm-5">
        <p align="center"><%= image_tag('secure-privacy.png', :height => 97, :width => 300) %></p>
        <blockquote>
          <p><span class="bqstart">“</span>&nbsp;AI found this workbook really helpful. The Life-Balance worksheet gave me a whole new perspective on what I need in my life right now. Good stuff!</p>
          <p class="name"> — R.M., Los Angeles<span class="bqend">”</span></p>
        </blockquote>
        <blockquote>
          <p><span class="bqstart">“</span>&nbsp;I had NO idea what my Ideal Me even looked like before going through this process. If you’re in the same boat, do yourself a favor and order this now!</p>
          <p class="name">— Stephanie.<span class="bqend">”</span></p>
        </blockquote>
        <blockquote>
          <p><span class="bqstart">“</span> As someone who is already really busy with my day job and everything else I really didn’t think I’d have any time to work on my Ideal Me. Going through the workbook made me realize just how wrong I was..</p>
          <p class="name">— Tanya.<span class="bqend">”</span></p>
        </blockquote>
        <blockquote>
          <p><span class="bqstart">“</span>Using the workbook helped me visualize what my Ideal Me looked like. It was a HUGE help! Thank You.</p>
          <p class="name">— Lorette.<span class="bqend">”</span></p>
        </blockquote>

        <div id="guarantees">
          <p align="center">
            <a href="/" onclick="">30 Day Money Back Guarantee</a>
          </p>
          <p align="center">
            <a href="/" onclick=""><%= image_tag('100-guarantee-seal.png', :height => 193, :width => 264) %></a>&nbsp;
          </p>
          <h3 align="center">30-Day Risk-Free<br>100% Money-Back Guarantee</h3>
        </div>
      </div>
      </div>

      <%= render partial: "partials/safesitecertified" %>

      <div class="phone col-sm-12">
        <h2>Have Questions? Need Help? Call Us: 1-844-IDEAL ME</h2>
      </div>

    </div>
  </div>
</div>
<%= render partial: "ga_workbook" %>
