<div class="container">
  <div id="column">
    <div id="outer">
      <%= image_tag('action_sidekick_headline.png', :height => 100, :width => 900) %>

      <div class="vid-player">
        <iframe src="//fast.wistia.net/embed/iframe/i3lfb6jgkp" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="556"></iframe>
      </div>

      <div class="what-theyre-saying">
        <h2>Here's What People Are Saying:  </h2>
        <%= image_tag('Testimonials.jpg', :style => 'margin-bottom:8px;', :height => 353, :width => 375) %>
      </div>

      <div class="book-features">
        <h2>With the Ideal Me Action SideKickTM (a $97 value), you’ll:</h2>
        <ul class="smallchecks">
          <li>Plan your day in <strong>less than 60 Seconds.</strong></li>
          <li>Break goals down into <strong>BITE-SIZE daily actions.</strong></li>
          <li>Easily set timers for your tasks in <strong>ONE sitting</strong> (Actions can be as little as 5 minutes or up to 8 hours. It’s up to you!)</li>
          <li>Track your success (You check off completed actions, so you <strong>SEE your progress</strong></li>
        </ul>
        <p>You’ll get the <strong>Windows</strong> AND <strong>Mac</strong> versions, and <strong>FREE lifetime upgrades.</strong></p>
        <h2>Plus, you’ll get these BONUS RESOURCES:</h2>
        <ul class="smallchecks">
          <li><strong>The Action SideKick TM Video Course – (A $17 Value)</strong>
            <p>An easy-to-follow video showing you how to get the most out your Action SideKick. You’ll create an action, assign it a specific time, plan for breaks—and create a report so you see how you really spend your time. Within minutes, you’ll be hands-on with your Action SideKick!</p>
          </li>
          <li><strong>Your “Ideal Me Unleashed!” Training Guide – (A $37 Value)</strong>
            <p>Discover <strong>unique time and mindset hacks</strong>, so you can achieve your Ideal Me faster. You’ll discover:
            </p>
            <ul>
              <li>Why and HOW to create a simple, <strong>effective plan</strong> that brings <strong>STRUCTURE</strong> and <strong>ORDER</strong> to your day.</li>
              <li><strong>Easy solutions to overcome mental</strong> traps you may be setting for yourself.</li>
              <li><strong>Mindset boosts</strong> to <strong><em>push through “low productivity” zones</em></strong> in your day.</li>
              <li>How to work in a state of “flow” to achieve <strong>faster and BETTER results.</strong></li>
              <li>How to get your brain to quit telling you “NO” and <strong>start telling you “YES!”</strong></li>
              <li><strong>“Mini-blueprints” for accomplishing BIG tasks</strong> like never before.</li>
              <li>Why the last minutes of TODAY may be the <strong>most important for tomorrow.</strong></li>
              <li>And <strong>MORE!</strong></li>
            </ul>
           </li>
          <ul>
      </div>

      <div class="claim col-sm-12">
        <a id="order"></a>
        <h1 align="center">Claim Your Action Sidekick for only <span class="red1"><strike>$97</strike></span> $47</h1>
      </div>

      <div class="row">
      <div class="pay-section col-sm-5">
        <%#= render partial: "orders/form" %>
        FPO FORM HERE
        <a href="/continuity-offer-1" class="btn btn-default btn-decline-purchase">No thanks</a>
      </div>

      <div id="rightcol" class="col-sm-5">
        <p align="center"><%= image_tag('secure-privacy.png', :height => 97, :width => 300) %></p>
        <blockquote>
          <p><span class="bqstart">“</span>&nbspNormally I'm a pen-and-paper person, but have to admit this program has scored where paper lists have failed. The psychology is very good: the time limit and that satisfying ring when you reach the end. As well as increasing the amount I get done in the day it's also very helpful in building up a picture of where my time is spent at the moment… So a definite thumbs up.</p>
          <p class="name">— Jane F.<span class="bqend">”</span></p>
        </blockquote>
        <blockquote>
          <p><span class="bqstart">“</span>Running a business is hard, especially of you are responsible for multiple areas of the business. I used to get side-tracked easily with email and researching ideas, and ended up working into the early hours of the morning catching up.
Now, with this program, I'm achieving so much more in around half of the time!
I would highly recommend this to anyone who works on a computer.</p>
          <p class="name">— Rob Barclay.<span class="bqend">”</span></p>
        </blockquote>
        <blockquote>
          <p><span class="bqstart">“</span>Been using it for a week so far and it's great!
I use it in combination with rescuetime.com which tracks exactly what I am doing online. This allows me to really ensure that I am sticking to my set out plan/schedule. It's a fairly new system for me... so I am still getting used to it.... but so far so good.</p>
          <p class="name">— Darryl Peddle.<span class="bqend">”</span></p>
        </blockquote>

        <div id="guarantees">
          <p align="center">
            <a href="/" onclick="">30 Day Money Back Guarantee</a>
          </p>
          <p align="center">
            <a href="/" onclick=""><%= image_tag('100-guarantee-seal.png', :height => 193, :width => 264) %></a>&nbsp;
          </p>
          <h3 align="center">30-Day Risk-Free<br>100% Money-Back Guarantee</h3>
        </div>
      </div>
      </div>

      <%= render partial: "partials/safesitecertified" %>

      <div class="phone col-sm-12">
        <h2>Have Questions? Need Help? Call Us: 1-844-IDEAL ME</h2>
      </div>

    </div>
  </div>
</div>
<SCRIPT language="javascript">
  <!--
  document.write('<img src="http://www.hypertracker.com/count.php?user=idealme&name=The+Action+Sidekick&sales=1&description=Action+Sidekick&value=47&protection=default&rand='+Math.random()+'" BORDER="0" HEIGHT="1" WIDTH="1" ALT="">')
  //-->
</SCRIPT>
