
<div id="topbar" ></div>
  <div id="wrap">
    <div id="outer" class="">
      <div id="container">
        <div class="toprighttext">
          <p><strong>Need help? </strong><br>Call us at 512-366-3332</p>
          <p><a href="mailto:support@survivallife.com">Email Customer Service</a><br></p>
        </div>
        <%= image_tag('idealme-logo-sm.png', :height => 63, :width => 212) %>
        <div class="progress"> 
        </div>
        <div id="container2"> 

          <p align="center" style="margin:0;"><%= image_tag('head-40days.png', :height => 81, :width => 780) %></p>
          <p align="center"> </p>
        <div align="center"  style="background-color:Transparent;overflow:hidden;">
          <div id="p443119_wrapper" style="position: relative; width: 720px; height: 400px;">

            <div id="p443119_captions" style="position: absolute; z-index: 10; left: 0px; top: 0px;">
            </div>
          </div>
        </div>
        <iframe id="midactioniframe443119" name="midactioniframe443119" width="1" height="1" src="./d_files/blank.html" frameborder="0" style="display:none;"></iframe>
        <p></p>
        <div align="center" id="hid" style="display:none;">
          <form accept-charset="UTF-8" action="https://absoluterights.infusionsoft.com/app/form/process/8799e8c7a61158ac2c7e8f426355cdc5" class="infusion-form" method="POST">
            <input name="inf_form_xid" type="hidden" value="8799e8c7a61158ac2c7e8f426355cdc5">
            <input name="inf_form_name" type="hidden" value="cck affiliates: oto2 40&amp;40">
            <input name="infusionsoft_version" type="hidden" value="1.29.7.34">
            <input name="inf_custom_Conversion" type="hidden" value="cckoptoto24040aff">
           
            <table cellpadding="4" cellspacing="4" width="100%" align="center" id="anchor">
              <tbody><tr><td colspan="98"></td></tr>
              <tr style="display: none;" align="center">
                <td style="background:<%= image_tag('arrows.png') %> center bottom no-repeat"><p><span style="background-color:#FF0; margin: 5px;">Please Enter Your Email &amp; <br>
                  Click Add To Cart Button To Purchase</span><br>
                  <br>
                  </p>
                  <table border="0" align="center" cellpadding="0" cellspacing="0">
                    <tbody><tr>
                      <td><input style="background-color:#FF9; border-color:#333;" type="text" size="40" class="default-input" name="inf_field_Email" id="inf_field_Email" value="brittanylynch@gmail.com"></td>
                      </tr>
                    </tbody></table>
                  <br></td></tr>
              <tr>
                <td align="center">
                 <input type="image" src="addtocart-67.png" name="Submit" id="Submit" onclick="dontpop();">           
                 <br>
                 <br>
                 <%= image_tag('ssl_lock-sm2.png', :height => 64, :width => 60) %> 
                  </td></tr>
              </tbody>
            </table>
            <br>
            </form>
          <div align="center">
            <p><a href="https://secure.survivallife.com/products/credit-card-knife/affiliates/oto3.php?inf_field_Email=" onclick="dontpop();">Thanks but no thanks, I've already ensured that my family would be safe under these circumstances</a></p>
          </div>
        </div>
      </div>
      <div class="longform">
        <h2>By taking this step you've shown you're serious about being  prepared.&nbsp; </h2>
        <p>But there’s one hole in your survival plan that you’ve  probably opened up...</p>
        <p>Nearly every person has it and it’s easy to fix…</p>
        <p><strong>But if you don’t take  action now it could be too late.</strong></p>
        <p>I know you’re willing to listen to any advice that can help  you be more prepared and self-reliant. </p>
        <p>So I’m going to walk you through exactly what you need to do  next, and how to fix this hole, so listen closely.</p>
        <p>I’ll give you a hint:</p>
        <p>It’s the one security gap I told you about a second ago.</p>
        <p>You’re 100% committed to protecting yourself and your family  in a disaster…</p>
        <p>But you’re not prepared for a crisis that would last 40 days  or more.</p>
        <p>Not only that, but at times you wonder if there’s something  your plan is missing.</p>
        <p>Well to be honest, it is missing something. </p>
        <h2><strong>Something </strong><strong>BIG</strong>.</h2>
        <p>You should be ready and able to survive a disaster that lasts  at least 40 days.</p>
        <p>Think about it: our founding fathers lived their entire lives  self-sufficient, but we can barely squeeze by when grocery stores are closed  for a day.</p>
        <p>That’s just not how things are supposed to work.<br>
          <br>
        See, even though you’ve thought about how bad a real crisis  could be, and maybe started a few preparations here and there, you know there’s  more you could add.</p>
        <p>You should know, you’re miles ahead of most Americans…But  don’t let that be a reason to ignore the need for 40 days of survival  preparations. </p>
        <p>And that’s why I’ve already set aside access rights to an  exclusive done-for-you add-on.</p>
        <p>Honestly, there’s <strong>no  reason</strong> for anyone to have less than 40 Days worth of supplies for every  member of your family…</p>
        <p>But let’s be <em>realistic</em>…</p>
        <p><strong>Buying one of those  pre-packaged “survival” food buckets may not be in your budget...</strong></p>
        <p>Have you seen the price of some of those things?!</p>
        <p>If you do have one of those - I hope you made your  preparations <em>covertly</em> or the whole  neighborhood will know that <strong>your house  is THE spot to hit </strong>when things get bad....</p>
        <p>Think they won’t steal from you?</p>
        <p> Think AGAIN…&nbsp; When your  neighbors get desperate and have to choose between robbing you and feeding  their kids... you’re going to be a target.</p>
        <p>Which is exactly why this special add-on package is so  important for keeping your family safe, secure and well fed... even if you’re  trapped in your home for a month or more.</p>
        <p>It’s called <em>40 Days  &amp; 40 Nights Home Survival Course.</em></p>
        <p>And yes, this works even if you don’t have any modern  conveniences like store bought food &amp; supplies...</p>
        <p>Even if you don’t have running water, flushing toilets or  electrical appliances...</p>
        <p>And even if you don’t have the money to build a fully armored  bunker stockpiled with enough weapons and ammo to survive an attack by a squad  of terminators...</p>
        <p>Because if you’re anything like me, when it comes to your  family…</p>
        <h2><strong>Failure Is <u>NOT</u> an Option!</strong></h2>
        <p>And that’s exactly why Inside <strong><em>40 Days &amp; 40 Nights Home  Survival Course </em>I’m going to reveal to you...</strong></p>
        <ol>
          <li>What specific grocery foods to buy – with exact  quantities and detailed instructions on how to store them so they won’t go bad…</li>
          <li>Plus how to keep your gold-mine of supplies secret and  secure so thieves won’t even know they’re there...</li>
          <li>And the little-known crisis-control tricks you need to  escape hostile situations with nothing but your words…</li>
          <li>Along with how to hide your <strong>private electricity </strong>after the grid fails…&nbsp; You do NOT want to become a target by showing  off you’re the only one for 50 miles with their lights on!</li>
          <li>And you’re going to get the harsh truth about four  survival situations <strong>no one </strong>even  wants to <strong>mention...&nbsp; </strong>Please prepare for these or you’ll be up  a creek without a paddle…</li>
        </ol>
        <p>The <em>40 Days &amp; 40  Nights Home Survival Course</em> is broken up into 6 easy to consume modules and  delivered to you with videos, guides, references and resources…</p>
        <p>          So here’s exactly what you’ll get in just a few minutes when  you claim your copy:</p>
        <p><strong>Module 1: Disaster  Detection &amp; Covert Survival Kits Revealed</strong></p>
<strong><%= image_tag('40-dvd1-2012.jpg', :class => 'leftaligned', :height => 250, :width => 204) %></strong>

        <p><u>In here you’ll get:</u></p>
        <ul>
          <li>My list of  over 25 potential threats that I continually monitor, their consequences, how  to make your plan cover these threats simultaneously,&nbsp; and how to still sleep at night with complete  peace of mind.</li>
          <li> Along with  what you must have in your cars’ emergency kits...as well as a trick to help  food and medications last longer...even on 100 degree summer days when your car  tops 120!</li>
          <li>You’ll also  discover my top alternatives to the “traditional” 72 hour kit that work MUCH  better for your family...and for the friends who you’ve told.</li>
        </ul>

        <p>· And you’ll want to pay close attention to the steps  that you should take with important documents that will protect you, not only  from thieves,&nbsp; but also from house fires  or other critical incidents when you barely have time to get out of the house…</p>

        <p>&nbsp;</p>

        <p>But after you know what threats are coming and have the  perfect emergency kit planned out, you still need to know how to keep from  going hungry in a disaster.<br>
          Which is why you’re also going to get...</p>

        <p><strong>Module 2: 40 Day Food  Stockpile Blueprint</strong></p>
<%= image_tag('40-dvd2.jpg', :class => 'leftaligned', :height => 250, :width => 203) %>

        <p><u>Inside Module 2 you’re going to see:</u></p>
        <ul>
          <li>My favorite  delicious food for 40 days and 40 nights, including how to take care of this in  one 30 minute trip to a big box store for about $2 per person per day, as well  as how to store it. (And I'll show you how to do it for $0 out of pocket cost)</li>
          <li>And how to  quickly and easily secure water for 40 days and 40 nights, including one trick  that I use to “hide” and store it.</li>
          <li> And it’s not  glamorous, but you’re not going to want to miss what to do about waste when  flushing isn't an option.</li>
        </ul>
        <p>This will give you a stockpile even experienced preppers are  jealous of.&nbsp; But that said, unless you  plan on being forced to live like Bear Grylls in the middle of nowhere, you  need to have a way to generate power or your stockpile - which your food stockpile  is almost useless for...</p>

        <p>And that’s exactly why module 3 - Emergency Survival Power  Plans is so important.</p>
<p>
          <strong>Module 3: Emergency  Survival Power Plans</strong></p>
<p><strong><%= image_tag('40-dvd3-2012.jpg', :class => 'leftaligned', :height => 250, :width => 212) %></strong><strong> </strong><u>Inside this exclusive module you’re going to learn:</u></p>
<ul>
  <li>The truth about scalable systems that are affordable  to put into place and high enough quality to use if your planning goes out to  6, 12, or 24 months.</li>
  <li>Off-the-grid power solutions that you can start  using and getting benefit from BEFORE you need them.(Think about it - it  wouldn’t it be great to use these tricks to save money on your power bill  NOW!?!)</li>
  <li>You’ll also discover one simple trick that will let  you turn “extra” beans and rice into usable electricity to run your gear,  security systems and home.</li>
</ul>

        <p>But don’t make the mistake of thinking that with electricity  you’ve got it all.&nbsp; </p>
        <p>You also need to know exactly how to keep in constant contact  with your loved ones and emergency medical techniques if the worst happens.</p>
        <p>Which is what makes the next module so important.</p>
<p>
          <strong>Module 4: The Essential  Army Combat-Approved Medical &amp; Radio Skills</strong><br>
</p>

        <p><strong><%= image_tag('40-dvd4-2012.jpg', :class => 'leftaligned', :height => 250, :width => 212) %></strong><u>In module 4 you’re going to get the inside scoop on:</u></p>
        <ul>
          <li> How to have  simple, <em>secure</em> radio handsets for  communicating with friends and family...without breaking the bank.</li>
          <li> How to use trauma techniques from combat medics,  disaster first responders, and 3rd world missionary doctors to save lives...  These work whether you have the right supplies or not.</li>
          <li> And the underground medical alternatives you must  know if pharmacies aren't an option.</li>
        </ul>
        <p>          These skills can be the difference between life and death if  you’re in a tough situation.&nbsp; </p>
        <p>However, the best option is to use the psychology of a  panicking crowd against itself and keep your family safe without ever firing a  shot.</p>
        <p>That’s why I’ve added module 5, <strong>Top Secret Survival Psychology Tricks</strong></p>
<p>
          No you’re about to uncover some very powerful insights into  the human mind... And the one thing I ask you is you only use them in the most  desperate survival situations... </p>
<%= image_tag('40-dvd5-2012.jpg', :class => 'leftaligned', :height => 250, :width => 212) %>
        <p><u>Inside this module I’m going to reveal some of my most  precious survival secrets like... </u></p>
        <ul>
          <li>How to sleep, without drugs, alcohol, or escapism  when the world is falling apart around you.</li>
          <li>And which steps to take after traumatic events that  will reduce the chances of Post Traumatic Stress Disorder by up to 80%</li>
          <li> Along with how to use psychology to double or triple  your family's chances of surviving ANY situation.</li>
        </ul>
        <p>But let me be clear about something.&nbsp; I’m not trying to say that these survival  methods are like Jedi Mind Tricks where you wave your hand and everything is  perfect.</p>
        <p>Sometimes things will get physical, and you need to know  exactly how to react in a split second to keep control of the situation.</p>
        <p>Which is why I’ve saved one of my favorites for last...&nbsp; Your last module is...</p>
        <p><strong>Module 6: The Extreme  Home Fortress &amp; Self Defense Guide</strong></p>

        <p><strong><%= image_tag('40-dvd6.jpg', :class => 'leftaligned', :height => 250, :width => 203) %></strong><u>Inside this module you’re going to get the truth about the:</u></p>
        <ul>
          <li> Core skills to use when conflict escalates from just  shouting to pushing, shoving or shooting.&nbsp;  These work in every situation whether you’ve got your rifle locked and  loaded to having your hands tied behind your back.</li>
          <li> And down-n-dirty strategies for creating improvised  intrusion early notification alarms.</li>
        </ul>
        <p>But there’s one thing I realized a lot of people need more  than anything I’ve given you in these 6 modules...&nbsp; And it’s real world experience.</p>
        <p>Which is exactly why I’m adding a special free bonus.&nbsp; It’s what I call my “Critical Training  Checklist” and you’ll get it automatically tacked on to module 6.&nbsp; </p>
<%= image_tag('40-dvd7.jpg', :class => 'leftaligned', :height => 250, :width => 203) %>
        <p><u>Inside this bonus you’re going to get an inside look at:</u></p>
        <ul>
          <li>How anyone who can walk can completely disable an  attacker with one simple mentality shift and these well-placed strikes...&nbsp; No goon will ever see these coming...</li>
          <li>And the quickest way to learn tactical driving  skills...</li>
          <li>Along with the completely legal way to learn how to  pick-locks so you can never be kept out of your own home...</li>
        </ul>

        <p>To top it off, inside this bonus you get all my selections  for the best options for medical, tactical, survival, preparedness, and off the  grid live training available.</p>
        <p>By now you’ve probably figured out…</p>
<p>
          That even if you know how to escape when a disaster hits, you  need to know exactly what to do if for whatever reason you can’t evacuate.&nbsp; </p>
        <p>And that’s why this course could be the difference between  your family's survival and…</p>
<p>
          …<em>well</em>, if you're  like me you don't need to finish that sentence --</p>
<p>
          Your family's survival is the <strong><u>ONLY</u> OPTION!</strong></p>
<p>
          This plan has been broken down into straight-forward, easy to  understand step-by-step procedures delivered in a series of videos...</p>
<p>
          And along with everything I just told you about in those 6  modules you'll discover…</p>
<p>
          The top 3 mistakes that most people make in their emergency  plans that <strong>cause their families to  suffer </strong>during crisis...&nbsp; </p>
        <p>You’re going to learn how to make sure this <u>never happens</u> to your family</p>
<p>
          Not only that, but you'll learn the weird trick behind…</p>
<p>
          How to identify threats and diffuse the situation with your  body language...</p>
        <p>Along with the simple  method to lockdown your supplies...</p>
<p>
          And my little known trick that increases the nutritional value  of your food by 20% <strong>or more!</strong></p>
        <p>But one of the biggest things is it’ll fill that hole in your  home survival checklist that has been lurking in the back of your mind for  quite a while. </p>
<p>
          Now, like I said this was a LOT of work.</p>
<p>
          Breaking a complete home survival plan into simple checklists  and steps as well as delivering the information in a high-quality video takes  literally weeks of nose-to-the-grindstone... <strong>Hard work</strong></p>
<p>
          Which is exactly why&nbsp; if  I was going to make this available to the public, I would sell each module for  no less than $67.</p>
<p>
          That would be 6 modules at $67 each -OR- A grand total of...  $402<br>
          &nbsp;(Still less than what  most people spend on food for a month)<br>
          &nbsp; <br>
          And you’re not just getting food...</p>
        <p>You’re getting </p>
        <ol>
          <li>Survival psychology secrets...</li>
          <li>Combat-approved medical techniques...</li>
          <li>Extreme home fortress and self-defense tips...</li>
          <li>Emergency survival power plans...</li>
          <li>And the step-by-step ways to detect a disaster and  build your perfect survival kit.</li>
        </ol>
        <p>The bottom-line is with this course you have the potential to  keep your family safe... and at the same time keep your peace of mind…</p>
<p>
          No matter what's going on in the world…</p>
<p>
          Your family needs a hero, and this is your chance to step up  to the challenge.</p>
<p>
          Which is why my first thought was to let you access this  information for 6 monthly installments of $67 each... Instead of charging $402   to get started.</p>
        <p>But since you’ve already shown me how serious you are about  protecting your family by making your first purchase...&nbsp; I’m going to meet you halfway and slash the  price as much as possible.</p>
        <p>And I figured out a way this can work for both of us.&nbsp; </p>
        <p>By bundling your purchases so I can just give it to you all at  once instead of having to send you something every month it’ll save me time and  money...&nbsp; </p>
        <p>So I’m going to go pass those savings onto you and slash the  price of the “40 Days and 40 Nights” Complete Survival Course plus bonuses  to...</p>
        <p><u>Just ONE</u> &nbsp;Small Payment of  $67!</p>
<p>
          That’s right – you get all 6 modules plus the two bonuses for  the price of just ONE.</p>
        <p>But here’s the catch.&nbsp; </p>
        <p><strong>This is only available  once.&nbsp; When you leave this page you will  turn down this offer forever.</strong></p>
        <p>Listen, I know I can charge a lot more <em>(and it would still be a deal)</em>, but…</p>
        <p>I'd just assume keep the price low this once and help as many  of my fellow Americans as possible.</p>
<p>
          Again, you'll get the entire package... with 6 videos,  checklists and handouts for over <strong>$300  off the retail price.</strong> <br>
          &nbsp; <br>
          It’s a big discount, but it's what I feel is right.</p>
<p>
          Click the <strong>orange "Add To Cart"</strong> button to claim your copy now.</p>
        <p>So, if you're ready to discover how to take action to get your family safe and secure faster  than ever no matter what is happening in the world</p>
<p>
          Click the <strong>orange “Add To Cart”</strong> button below and you’ll receive  instant access…</p>
<p>
          When you do – your purchase is backed by the same 60 DAY 100%  Money Back Guarantee I always offer…</p>
        <p>If for any reason, you’re not 100% satisfied, just let me know  and I’ll immediately refund your money.</p>
<p>
          Even if you've…          &nbsp;</p>
        <ol>
          <li>Watched all of the tutorials…</li>
          <li>Downloaded all of the resources…</li>
          <li>And used them to their fullest to prep your home for a  crisis!</li>
        </ol>
        <p>          Sure, that means some people are going to take advantage of me  and the policy, but honestly if you’ve made it this far, you’re someone I can  trust.</p>
        <p>And besides... I always want everyone to understand that  you’re in control of this transaction - even if it puts me at risk.&nbsp; </p>
        <p>No one can be forced to help themselves and when people see  that you were really the one who had the final call on whether this product was  any good or not, they’ll know that you were in charge of this decision.</p>
<p>
          And for the record, there are <strong>no questions asked... EVER!</strong></p>
        <p><strong>I'll refund 100% </strong>of  your money as soon as you contact me and let me know if you are not satisfied. It’s  just that simple!</p>
<p>
          <strong>Now, I’ve got one last  thing to tell you…</strong></p>
<p>
          Just to warn you, some people might think you're weird or a <em>little over protect</em>ive for buying this  guide…</p>
<p>
          But I want you to stop and think how glad they'll be <strong>when you're helping them!</strong></p>
<p>
          <strong>Think about how  satisfying it'll be to know...&nbsp; </strong>You've  got your ducks in a row and your family is protected and prepared.</p>
<p>
          So click the <strong>orange  “Add To Cart</strong>” button below this video for Instant Access to 40 Days &amp;  40 Nights Home Survival Course...</p>
<p>
          Now's the time to make a decision…&nbsp; </p>

        <p>Do you want to be…<br>
        </p>
        <ol>
          <li>Worried about what’s going to happen if you can’t  escape...</li>
          <li><strong>Or do want to  get the fastest and most secure tricks that’ll prepare your family for any  disaster situation - even if there’s no way out?</strong></li>
        </ol>
        <p><strong>It's your decision...</strong></p>
<p>
          Hope to see you on the inside.</p>
<p>
          By the way, maybe <strong>you  can only do a couple of the steps in the course at a time</strong>…</p>
<p>
          That’s fine… it’s more important to gain the knowledge right  now.</p>
        <p>You’ll be amazed how just knowing what you need to do will  lead you down that right path</p>
<p>
          And not only that, but when a crisis hits, humanity is at its  worst…</p>
<p>
          Have you seen the stampedes in Wal-Mart at Christmas time??..</p>
<p>
          Imagine how much worse it'll be with a starving mob…</p>
<p>
          But one last thing...<strong> Don’t Forget The Guarantee!</strong></p>
          <div class="blue">
<p>
          <%= image_tag('100-guarantee-seal.png', :class => 'rightaligned', :height => 193, :width => 264) %>It’s pretty obvious that you’ve got the power in this  transaction - you just say the word and you can take advantage of my 100% Money  Back Guarantee.&nbsp; That way you have a  chance to test things out and make sure they’re up to your standards before  committing.</p>
        <p>If you don't like the course <em>for any </em>reason, just let me know and I’ll process your refund <strong>immediately.</strong></p>
<p>
          I'm taking all of the risk, so you can <u>get started today.</u></p>
          </div>
<p>
          This is your last chance: once you leave this page you lose  your chance to claim your whopping discount worth more than $300… </p>

        <p>Click <strong>the orange “Add  To Cart</strong>" button below this video for Instant Access to 40 Days &amp;  40 Nights  Survival Course...</p>
<p class="centertxt"><%= image_tag('40-groupdvd-2012.png', :height => 350, :width => 442) %></p>        <p> <strong>Choose to keep your  family safe!&nbsp; </strong></p>
        <p>Click the orange “Add to Cart” button below right now and I’ll  see you on the inside.</p>
        <div align="center" id="hid" style="display:;">
         <form accept-charset="UTF-8" action="https://absoluterights.infusionsoft.com/app/form/process/8799e8c7a61158ac2c7e8f426355cdc5" class="infusion-form" method="POST">
    <input name="inf_form_xid" type="hidden" value="8799e8c7a61158ac2c7e8f426355cdc5">
    <input name="inf_form_name" type="hidden" value="cck affiliates: oto2 40&amp;40">
    <input name="infusionsoft_version" type="hidden" value="1.29.7.34">
            <input name="inf_custom_Conversion" type="hidden" value="cckoptoto24040aff">
    
       
        <table cellpadding="4" cellspacing="4" width="100%" align="center" id="anchor">
          <tbody><tr><td colspan="98"></td></tr>
          <tr style="display: none;" align="center">
            <td style="background:url(arrows.png) center bottom no-repeat"><p><span style="background-color:#FF0; margin: 5px;">Please Enter Your Email &amp; <br>
              Click Add To Cart Button To Purchase</span><br>
              <br>
              </p>
              <table border="0" align="center" cellpadding="0" cellspacing="0">
                <tbody><tr>
                  <td><input style="background-color:#FF9; border-color:#333;" type="text" size="40" class="default-input" name="inf_field_Email" id="inf_field_Email" value="brittanylynch@gmail.com"></td>
                  </tr>
                </tbody></table>
              <br></td></tr>
          <tr>
            <td align="center">
             <input type="image" <%= image_tag("addtocart-67.png")%> name="Submit" id="Submit" onclick="dontpop();">           
 <br>
 <br>
 <%= image_tag('ssl_lock-sm2.png', :height => 64, :width => 60) %> 
              
              
             
              </td></tr>
          </tbody></table>
        <br>
        </form>
          <div align="center">
            <p><a href="https://secure.survivallife.com/products/credit-card-knife/affiliates/oto3.php?inf_field_Email=brittanylynch@gmail.com" onclick="dontpop();">Thanks but no thanks, I've already ensured that my family would be safe under these circumstances</a></p>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <div id="footertext"> </div>
    </div>
    <div style="clear:both;"></div>
  </div>
</div>