.promo_section
  .container
    .intro-wp
      %h2 Take the Ideal Me Challenge: 12 Goals, 1 Per Month, Maximum Results in Minimum Time
      .cnt
        .video
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "225", :src => "//www.youtube.com/embed/piLWFiS1fN8", :width => "370"}
          %span.video-bg &nbsp;
        .text
          %ul
            %li Your Ideal Me Challenge:
            %li 1. Join the community
            %li 2. Choose your goals
            %li 3. Get hand-picked, user-reviewed course recommendations
        .join-box
          = form_for :user, url: user_session_path do |f|
            = link_to "Join with Facebook", user_omniauth_authorize_path(:facebook), :class => "fb-join-btn"
            .or-text
              %span.line &nbsp;
              %span.tx Or
            .field-wp
              %span.email-icon &nbsp;
              = f.email_field :email, :placeholder => "Email", :class => "field"
            .field-wp
              %span.pass-icon &nbsp;
              = f.text_field :password, :placeholder => "Password", :class => "field"
            .join-btn-wp
              %span.strike &nbsp;
              = f.submit "Join Now (It's Free)", :class => "join-btn"
        .clear &nbsp;
    .clear
.courses-wp
  .title-text
    %img{:alt => "", :src => "assets/title-text-1.jpg"}/
  %p.top-text
    All courses backed by the
    = succeed "." do
      %a{:href => "#"} Ideal Me Seal
    If you're not satisfied you get a full refund.
  .offer_section
    %table
      %tr
        %td
          .offer_card
            %a{:href => "#"}
              %img{:src => "assets/pic_2.png"}/
            %a.offer_title{:href => "#"} Supersonic Speed Reading
            .vendor
              .vendor_pic
                %a{:href => "#"}
                  %img{:src => "assets/vendor.png"}/
              %a.vendor_name{:href => "#"} Jen Snow
              .clear
            .bottom_box
              .like_box
                .like 352
                .dislike 12
                .clear
              .price_box
                $26.96
              .add_me_box
                .unchecked +
                .checked
              .clear
        %td
          .offer_card
            %a{:href => "#"}
              %img{:src => "assets/pic-5.png"}/
            %a.offer_title{:href => "#"} Roger Love's Singing Academy
            .vendor
              .vendor_pic
                %a{:href => "#"}
                  %img{:src => "assets/vendor.png"}/
              %a.vendor_name{:href => "#"} Jen Snow
              .clear
            .bottom_box
              .like_box
                .like 352
                .dislike 12
                .clear
              .price_box
                $26.96
              .add_me_box
                .unchecked +
                .checked
              .clear
        %td
          .offer_card
            %a{:href => "#"}
              %img{:src => "assets/pic-6.png"}/
            %a.offer_title{:href => "#"} Become a Celebrity Journalist
            .vendor
              .vendor_pic
                %a{:href => "#"}
                  %img{:src => "assets/vendor.png"}/
              %a.vendor_name{:href => "#"} Jen Snow
              .clear
            .bottom_box
              .like_box
                .like 352
                .dislike 12
                .clear
              .price_box
                $26.96
              .add_me_box
                .unchecked +
                .checked
              .clear
        %td
          .offer_card
            %a{:href => "#"}
              %img{:src => "assets/pic-7.png"}/
            %a.offer_title{:href => "#"} Fluent in 3 Months
            .vendor
              .vendor_pic
                %a{:href => "#"}
                  %img{:src => "assets/vendor.png"}/
              %a.vendor_name{:href => "#"} Jen Snow
              .clear
            .bottom_box
              .like_box
                .like 352
                .dislike 12
                .clear
              .price_box
                $26.96
              .add_me_box
                .unchecked +
                .checked
              .clear
      %tr
        %td
          .offer_card
            %a{:href => "#"}
              %img{:src => "assets/pic-8.png"}/
            %a.offer_title{:href => "#"} Negotiate a Lower Rent
            .vendor
              .vendor_pic
                %a{:href => "#"}
                  %img{:src => "assets/vendor.png"}/
              %a.vendor_name{:href => "#"} Jen Snow
              .clear
            .bottom_box
              .like_box
                .like 352
                .dislike 12
                .clear
              .price_box
                $26.96
              .add_me_box
                .unchecked +
                .checked
              .clear
        %td
          .offer_card
            %a{:href => "#"}
              %img{:src => "assets/pic-9.png"}/
            %a.offer_title{:href => "#"} The Habit Course
            .vendor
              .vendor_pic
                %a{:href => "#"}
                  %img{:src => "assets/vendor.png"}/
              %a.vendor_name{:href => "#"} Jen Snow
              .clear
            .bottom_box
              .like_box
                .like 352
                .dislike 12
                .clear
              .price_box
                $26.96
              .add_me_box
                .unchecked +
                .checked
              .clear
        %td
          .offer_card
            %a{:href => "#"}
              %img{:src => "assets/pic-10.png"}/
            %a.offer_title{:href => "#"} The Art of Less Doing
            .vendor
              .vendor_pic
                %a{:href => "#"}
                  %img{:src => "assets/vendor.png"}/
              %a.vendor_name{:href => "#"} Jen Snow
              .clear
            .bottom_box
              .like_box
                .like 352
                .dislike 12
                .clear
              .price_box
                $26.96
              .add_me_box
                .unchecked +
                .checked
              .clear
        %td
          .offer_card
            %a{:href => "#"}
              %img{:src => "assets/pic-11.png"}/
            %a.offer_title{:href => "#"} Clutter Free Course
            .vendor
              .vendor_pic
                %a{:href => "#"}
                  %img{:src => "assets/vendor.png"}/
              %a.vendor_name{:href => "#"} Jen Snow
              .clear
            .bottom_box
              .like_box
                .like 352
                .dislike 12
                .clear
              .price_box
                $26.96
              .add_me_box
                .unchecked +
                .checked
              .clear
      %tr
        %td
          .offer_card
            %a{:href => "#"}
              %img{:src => "assets/pic-8.png"}/
            %a.offer_title{:href => "#"} Negotiate a Lower Rent
            .vendor
              .vendor_pic
                %a{:href => "#"}
                  %img{:src => "assets/vendor.png"}/
              %a.vendor_name{:href => "#"} Jen Snow
              .clear
            .bottom_box
              .like_box
                .like 352
                .dislike 12
                .clear
              .price_box
                $26.96
              .add_me_box
                .unchecked +
                .checked
              .clear
        %td
          .offer_card
            %a{:href => "#"}
              %img{:src => "assets/pic-9.png"}/
            %a.offer_title{:href => "#"} The Habit Course
            .vendor
              .vendor_pic
                %a{:href => "#"}
                  %img{:src => "assets/vendor.png"}/
              %a.vendor_name{:href => "#"} Jen Snow
              .clear
            .bottom_box
              .like_box
                .like 352
                .dislike 12
                .clear
              .price_box
                $26.96
              .add_me_box
                .unchecked +
                .checked
              .clear
        %td
          .offer_card
            %a{:href => "#"}
              %img{:src => "assets/pic-10.png"}/
            %a.offer_title{:href => "#"} The Art of Less Doing
            .vendor
              .vendor_pic
                %a{:href => "#"}
                  %img{:src => "assets/vendor.png"}/
              %a.vendor_name{:href => "#"} Jen Snow
              .clear
            .bottom_box
              .like_box
                .like 352
                .dislike 12
                .clear
              .price_box
                $26.96
              .add_me_box
                .unchecked +
                .checked
              .clear
        %td
          .offer_card
            %a{:href => "#"}
              %img{:src => "assets/pic-11.png"}/
            %a.offer_title{:href => "#"} Clutter Free Course
            .vendor
              .vendor_pic
                %a{:href => "#"}
                  %img{:src => "assets/vendor.png"}/
              %a.vendor_name{:href => "#"} Jen Snow
              .clear
            .bottom_box
              .like_box
                .like 352
                .dislike 12
                .clear
              .price_box
                $26.96
              .add_me_box
                .unchecked +
                .checked
              .clear
.testimonials-section
  %h3.title{:title => "Dont just take our word for it"}
    %img{:src => "assets/dont_just_txt.png"}/
  %p We listen to our users, and so should you
  .testimonial-container
    .testimonial.fleft
      .testimonial-box
        .box-cnt
          Ideal Me is a
          %i seriously
          cool site!
          .arrow
      .user_info
        .user_pic
          %img{:src => "assets/user_1.jpg", :width => "32"}/
        .user_name Shannon Thomas
    .testimonial.fright
      .testimonial-box
        .box-cnt
          Ideal Me Is
          %strong THE
          most amazing collection of resources that really work to live a lifestyle by design
          .arrow
      .user_info
        .user_pic
          %img{:src => "assets/user_2.png", :width => "32"}/
        .user_name Shannon Thomas
    .clear
    .testimonial.fleft
      .testimonial-box
        .box-cnt
          Thanks to Ideal Me
          %br/
          %strong I've lost 10 pounds
          .arrow
      .user_info
        .user_pic
          %img{:src => "assets/user_3.jpg", :width => "32"}/
        .user_name Shannon Thomas
    .testimonial.fright
      .testimonial-box
        .box-cnt
          The only thing don't like about Ideal Me is I haven't been able to do all the courses...yet! :-)
          .arrow
      .user_info
        .user_pic
          %img{:src => "assets/user_4.png", :width => "32"}/
        .user_name Shannon Thomas
    .clear

.bottom-join-wp
  .container
    %h3
      Become a member of Ideal Me today and start living
      %em your
      dream life!
    .box
      = form_for :user, url: user_session_path do |f|
        = link_to "Join with Facebook", user_omniauth_authorize_path(:facebook), :class => "fb-join-btn"
        .or-text
          Or
        .field-wp
          %span.email-icon &nbsp;
          = f.email_field :email, :placeholder => "Email", :class => "field"
        .field-wp
          %span.pass-icon &nbsp;
          = f.text_field :password, :placeholder => "Password", :class => "field"
        .join-btn-wp
          %span.strike &nbsp;
          = f.submit "Join Now (It's Free)", :class => "join-btn"
        .clear &nbsp;