.promo_section
  .container
    .intro-wp
      %h2
        What's Stopping
        %em You
        From Living
        %em Your
        Ideal Life?
      .cnt
        .video
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "225", :src => "//www.youtube.com/embed/piLWFiS1fN8", :width => "370"}

          %span.video-bg &nbsp;
        .text
          %p
            Join me in the Ideal Me Challenge: 12 goals, 1 a month for max results in minimum time and discover what really works!
        .join-box
          = form_for :user, url: user_session_path do |f|
            = link_to "Join with Facebook", user_omniauth_authorize_path(:facebook), :class => "fb-join-btn"
            .or-text
              %span.line &nbsp;
              %span.tx Or
            .field-wp
              %span.email-icon &nbsp;
              = f.email_field :email, :placeholder => "Email", :class => "field"
            .field-wp
              %span.pass-icon &nbsp;
              = f.password_field :password, :placeholder => "Password", :class => "field"
              = f.hidden_field :remember_me, :value => '1'
              = hidden_field_tag :quick, '1'
            .join-btn-wp
              %span.strike &nbsp;
              = f.submit "Join Now (It's Free)", :class => "join-btn"
        .clear &nbsp;
    .clear
.courses-wp
  .title-text
    %h2 The 1st 100% satisfaction guaranteed community of curated
    %br/
    %h2  products that actually get real results or your money back!
  %p.top-text
    All courses backed by the
    = succeed "." do
      %a{:href => "/static/about"} Ideal Me Seal
    If you're not satisfied you get a full refund.
  .offer-section
    .container
      - @courses.each do |course|
        = render :partial => 'partials/course_card', :locals => {:course => course}
      .clear
.testimonials-section
  %h3.title{:title => "Dont just take our word for it"}
    %img{:src => "assets/dont_just_txt.png"}/
  %p We listen to our users, and so should you!
  .testimonial-container
    .testimonial.fleft
      .testimonial-box
        .box-cnt
          Ideal Me is a
          %i seriously
          cool site!
          .arrow
      .user_info
        .user_pic
          %img{:src => "assets/user_1.jpg", :width => "32"}/
        .user_name Shannon Thomas
    .testimonial.fright
      .testimonial-box
        .box-cnt
          Ideal Me Is
          %strong THE
          most amazing collection of resources that really work to live a lifestyle by design
          .arrow
      .user_info
        .user_pic
          %img{:src => "assets/user_2.png", :width => "32"}/
        .user_name Desiree Patel
    .clear
    .testimonial.fleft
      .testimonial-box
        .box-cnt
          Thanks to Ideal Me
          %br/
          %strong I've lost 10 pounds
          .arrow
      .user_info
        .user_pic
          %img{:src => "assets/user_3.jpg", :width => "32"}/
        .user_name Tanya Mcdonald
    .testimonial.fright
      .testimonial-box
        .box-cnt
          The only thing don't like about Ideal Me is I haven't been able to do all the courses...yet! :-)
          .arrow
      .user_info
        .user_pic
          %img{:src => "assets/user_4.png", :width => "32"}/
        .user_name Laurie Williams
    .clear
= render "join_up"
