.promo-section
  .container
    .background
    .main-message
      %h3.title{:title => 'Better information, faster'}
        = image_tag('landings/better_info_txt.png')
      .message Collect gems of wisdom and find courses to help reach your goals
      = link_to("GET STARTED (IT'S FREE)", new_user_session_path, :class => 'btn-black btn-round')
    .cards
      .card.card-top
        = image_tag('landings/pic_top.jpg', :width => 168)
        .description 10 BEST SURF TIPS
      .card.card-1
        = image_tag('landings/pic_1.jpg', :width => 118)
        .description WRITE A BOOK
      .card.card-2
        = image_tag('landings/pic_2.jpg', :width => 97)
      .card.card-3
        = image_tag('landings/pic_3.jpg', :width => 100)
      .card.card-4
        = image_tag('landings/pic_4.jpg', :width => 113)
    .clear
.how-it-works-section
  %p.how-it-works-copy
    HOW IT WORKS
  .flexslider
    %ul.slides
      %li
        .slide-wrapper
          %h3.title{:title => 'create your ideal me to do list'}
            = image_tag('landings/create_your_txt.png')
          %p Select the goal categories you want to track your progress or discover gems of wisdom
          .showcase
            = image_tag('landings/slide_1.png')
      %li
        .slide-wrapper
          %h3.title{:title => 'collect gems of wisdom'}
            = image_tag('landings/collect_gems_txt.png')
          %p posted by other community members to create your own curated collection
          .showcase
            = image_tag('landings/slide_2.png')
      %li
        .slide-wrapper
          %h3.title{:title => 'Vote on everything'}
            = image_tag('landings/vote_on_txt.png')
          %p Hot gems float to the top while cool gems sink to the bottom
          .showcase
            = image_tag('landings/slide_3.png')
      %li
        .slide-wrapper
          %h3.title{:title => 'Track your progress'}
            = image_tag('landings/track_your_txt.png')
          %p Invite your friends and family to keep you accountable or keep your progress private
          .showcase
            = image_tag('landings/slide_4.png')
      %li
        .slide-wrapper
          %h3.title{:title => 'Supercharge your ideal me'}
            = image_tag('landings/supercharge_txt.png')
          %p Select the goal categories you want to track your progress or discover gems of wisdom
          .showcase
            = image_tag('landings/slide_5.png')
  .control-nav
    .btn-group
      %button.btn To Do List
      %button.btn Gems
      %button.btn Vote
      %button.btn Track
      %button.btn Courses
.testimonials-section
  %h3.title{:title => 'Dont just take our word for it'}
    = image_tag('landings/dont_just_txt.png')
  %p We listen to our users, and so should you
  .testimonial-container
    .testimonial.fleft
      .testimonial-box
        Ideal Me is a seriously cool site!
        .arrow
      .user
        .avatar
          = image_tag('landings/user_1.jpg', :width => 32)
        .user_name Shannon Thomas
    .testimonial.fright
      .testimonial-box
        Ideal Me is a seriously cool site!
        .arrow
      .user
        .avatar
          = image_tag('landings/user_2.png', :width => 32)
        .user_name Shannon Thomas
    .clear
    .testimonial.fleft
      .testimonial-box
        Ideal Me is a seriously cool site!
        .arrow
      .user
        .avatar
          = image_tag('landings/user_3.jpg', :width => 32)
        .user_name Shannon Thomas
    .testimonial.fright
      .testimonial-box
        Ideal Me is a seriously cool site!
        .arrow
      .user
        .avatar
          = image_tag('landings/user_4.png', :width => 32)
        .user_name Shannon Thomas
    .clear
.call-to-action-section
  = link_to("GET STARTED (IT'S FREE)â", new_user_session_path, :class => 'btn btn-red')