<div class="row">
  <div class="twelve columns">
    <h1>Affiliate statistics from <%= @from_date %> to <%= @to_date %></h1>

    <table class="table">
      <tr>
        <td width='200'><strong>Slug:</strong> </td>
        <td><%= @affiliate_link.slug %></td>
      </tr>
      <tr>
        <td><strong>Total units sold</strong>: </td>
        <td><%= @affiliate_sales.length %></td>
      </tr>
      <tr>
        <td><strong>Unique clicks:</strong> </td>
        <td><%= @unique_click %></td>
      </tr>
      <tr>
        <td><strong>Total clicks:</strong> </td>
        <td><%= @total_click %></td>
      </tr>
      <tr>
        <td><strong>Total unique users: </strong> </td>
        <td><%= @unique_users.length %></td>
      </tr>
      <tr>
        <td><strong>Total unique users signed up: </strong> </td>
        <td><%= @unique_users_in_range.length %></td>
      </tr>
    </table>


    <table class="table">
      <thead>
      <tr>
        <th>Order</th>
        <th>Product</th>
        <th>Status</th>
        <th>Tracking</th>
        <th>Cost</th>
        <th>Affiliate %</th>
        <th>Affiliate Pay Out</th>
        <th>Transaction Date</th>
      </tr>
      </thead>
      <tbody>
      <% @affiliate_sales.each do |affiliate_sale| %>
          <tr>
            <td><%= link_to("#{affiliate_sale.order.user.firstname} #{affiliate_sale.order.user.lastname}", user_path(affiliate_sale.order.user)) %></td>
            <td><%= link_to(affiliate_sale.order.course.name, course_path(affiliate_sale.order.course)) %></td>

            <td><%= number_to_percentage(affiliate_sale.course_commission_percent, :precision => 4) %></td>
            <td><%= penny_to_currency(affiliate_sale.commission, :precision => 4) %></td>
            <td><%= l(affiliate_sale.order.created_at) %></td>
          </tr>
      <% end %>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><%= penny_to_currency(@sum_commission, :precision => 4) %></th>
        <th></th>
      </tr>
      </tbody>
    </table>
    <h2>Affiliate links</h2>
    <table class="table">
      <thead>
      <tr>
        <th>Affiliate Tracking Name</th>
        <th>Affiliate Code</th>
      </tr>
      </thead>
      <tbody>
      <% @courses.each do |course| %>
          <tr>
            <td><%= course.name %></td>
            <td><%= course.id %>WRONG VALUE</td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
