.goal-user-card                          
  - unless @owner
    %button.btn{:style => 'width:230px'}
      support
  - if @owner

    .options{:style=>'width: 16px;margin: 10px;position: absolute;'}
      .dropdown
        = image_tag 'users/drop_down.png', :data => { :toggle => 'dropdown' }
        %ul.dropdown-menu{:style=>'border-radius:0px'}      
          %li
            = link_to 'Mark as complete', complete_goal_path(goal_user, {:return_path => request.fullpath}), :method => :post, :data => {:confirm => "Are you sure?"}  
          %li.divider
          %li                                            
            = link_to 'Archive', archive_goal_path(goal_user, {:return_path => request.fullpath}), :method => :post, :data => {:confirm => "Are you sure?"}
            
          
          
  .avatar
    = link_to image_tag(goal_user.goal.avatar.url(:full)), goal_path(goal_user)
  .name
    = goal_user.goal.name
  .bottom_box
    .check-ins
      .counter 
        = goal_user.checkins.length
      check ins
    .gems-collected
      .counter 0
      gems collected
    .gems-created
      .counter 0
      gems created
    .clear