<table class="table">
  <thead>
  <tr>
    <th>Order</th>
    <th>Product</th>
    <th>Status</th>
    <th>link</th>
    <th>Cost</th>
    <th>Affiliate %</th>
    <th>Affiliate Pay Out</th>
    <th>Transaction Date</th>
  </tr>
  </thead>
  <tbody>
  <% @affiliate_sales.each do |affiliate_sale| %>
      <tr>
        <td><%= link_to("#{affiliate_sale.order.user.firstname} #{affiliate_sale.order.user.lastname}", user_path(affiliate_sale.order.user)) %></td>
        <td><%= link_to(affiliate_sale.order.course.name, course_path(affiliate_sale.order.course)) %></td>
        <td><%= affiliate_sale.order.status.to_s %></td>
        <td><%= affiliate_sale.affiliate_link ? link_to(affiliate_sale.affiliate_link.slug, dashboard_affiliate_path(affiliate_sale.affiliate_link)) : 'None' %></td>
        <td><%= penny_to_currency(affiliate_sale.gross, :precision => 4) %></td>
        <td><%= number_to_percentage(affiliate_sale.course_commission_percent, :precision => 4) %></td>
        <td><%= penny_to_currency(affiliate_sale.commission, :precision => 4) %></td>
        <td><%= l(affiliate_sale.order.created_at) %></td>
      </tr>
  <% end %>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th><%= penny_to_currency(@sum_commission, :precision => 4) %></th>
    <th></th>
  </tr>
  </tbody>
</table>
