= formatted_form_for(@payload, :url => url, :html => {:class => 'form-horizontal'}) do |f|
  %fieldset
    #legend
      %legend Payload
  = f.hidden_field :payloadable_id, :value => @payload_parent.id
  = f.hidden_field :payloadable_type, :value => @payload_parent.class.name.to_s
  = f.file_field :payload
  = f.select :intended_type, Payload::PAYLOAD_TYPE, {}, :class => 'select2'
  = f.submit 'Save', :class => 'btn btn-success'
  = link_to 'Back', admin_payloads_path, :class => 'btn'



  