.container
  .user-profile
    .user-avatar
      = image_tag @user.avatar.url(:square)
    .user-informaiton
      .user-fullname
        = @user.fullname
      .user-location
        %a{:href => "#"} + add location
    .user-counters
      .counter
        Checkins
        .checkins-box  
          = @user.checkins.length
      .divider
      .counter
        Collected
        .collected-box 0
      .divider
      .counter
        Created
        .created-box 
          = @user.created_jewels.length
      .divider
      .counter
        Supporters
        .supporters-box 0
      .divider
      .counter
        Supporting
        .supporting-box 0
    .clear
  .menu-section
    %ul.user-menu
      %li{:class => active_tab?('goal', @tab)}
        = link_to 'goals', user_path(current_user, {:tab => 'goal'}), :class => 'goal-icon'
      %li{:class => active_tab?('course', @tab)}
        = link_to 'course history', user_path(current_user, {:tab => 'course'}), :class => 'course-icon'
    .clear                                   
    - if @tab == 'goal'
      %a.goal-edit-box{:href => "#"} edit goals
    .clear
  - if @tab == 'goal'
    = render :partial => 'users/partials/goal'
  - else       
    = render :partial => 'users/partials/course'