.container           
  .user-profile
    .user-avatar
      = image_tag @user.avatar.url(:square)     
    .user-informaiton
      .user-fullname
        = @user.fullname
      .user-tagline    
        - if @owner
          = best_in_place @user, :tagline, :type => :textarea, :classes => 'im-best-in-place', :activator => '.user-tagline-editor', :path => ajax_user_path(@user), :nil => '+ add a tagline'
          %i.icon-edit.user-tagline-editor
        - else
          = @user.tagline
    .user-counters
      .counter
        Checkins
        .checkins-box  
          = @checkins.length
      .divider
      .counter
        Collected
        .collected-box 0
      .divider
      .counter
        Created
        .created-box 
          = @user.created_jewels.length
      .divider
      .counter
        Supporters
        .supporters-box 0
      .divider
      .counter
        Supporting
        .supporting-box 0
    .clear
  /    
    .menu-section
      %ul.user-menu
        - if @owner
          %li{:class => active_tab?('goal', @tab)}
            = link_to 'goals', user_tab_path(@user, 'goal'), :class => 'goal-icon'
          %li{:class => active_tab?('course', @tab)}
            = link_to 'course history', user_tab_path(@user, 'course'), :class => 'course-icon'
          %li{:class => active_tab?('course', @tab)}
            = link_to 'saved course', user_tab_path(@user, 'saved-course'), :class => 'course-icon'
        - else
          %li.active
            = link_to 'public goals', user_tab_path(@user, 'goal'), :class => 'goal-icon'
      .clear              
    - if @owner
      - if @tab == 'goal'
        = render :partial => 'users/partials/goal'
      - elsif @tab == 'course'
        = render :partial => 'users/partials/course'
      - elsif @tab == 'saved-course'
        = render :partial => 'users/partials/saved_course'
    - else
      = render :partial => 'users/partials/goal'

  .menu-section
    .user-menu
      .li GOALS
  .goals-section
    = render :partial => 'users/partials/goal'
  .menu-section
    .user-menu
      .li MY COURSES
  .offer-section
    = render :partial => 'users/partials/course'