.top_msg_box
  %h3.title{:title => "create your ideal me to do list"}
    = image_tag 'create_your_txt.png'
  %p
    Ready for some "me" time? What do you want to achieve?
    %br/
    Pick some goals to get started. You can add more or change them anytime.

.container   
  = form_tag user_welcome_path do
    - @goals.each do |goal|
      = render :partial => 'users/partials/goal_tile', :locals => {:goal => goal}
      = hidden_field_tag "goal_ids[#{goal.id}]", '0', {:data => {:goal_id => goal.id}}
    = submit_tag "I'm done â", :class => 'btn btn-red'