.container
  .row
    .span1
      = image_tag @market.avatar.url(:thumb)
    .span10
      %p
        %strong
          Ordering #{@market.course.name}
      %p
        %i
          By:
        = @market.course.owner.fullname

      %p
        #{penny_to_currency(@market.course.cost)}
  .row
    .span12
      = render(:partial => 'form')