- @goal_users.each do |goal_user|
  = render :partial => 'partials/goal_user_card', :locals => {:goal_user => goal_user}


- if @owner
  //.goal-card-new{:data => {:toggle => 'modal'}, :href => '#new-goal-modal', :role => 'button'}
  = link_to user_welcome_path, :class => "goal-card-new" do
    .plus +
    Add or edit goals
  .clear

  #new-goal-modal.modal.hide{:role => 'dialog'}
    .modal-header
      %button.close{'data-dismiss' => 'modal', :type => 'button'} ×
      %h3#myModalLabel Add goal
    .modal-body{:style => 'background-color:#faf9f4'}

      %form
        .input-append
          %input#appendedInputButtons.span4{:type => 'text'}/
          %button.btn{:type => 'button'} Search
          %button.btn{:type => 'button'} Create

      %div
        %p Categories
        - Category.all.each do |category|
          %div{:style=> 'margin-top:5px; margin-bottom:5px; background-color:#ffffff;border:1px solid #efefef; cursor:pointer'}
            %div{:style=>'width:30px; float:left; margin:10px'}
              = image_tag category.avatar.url
            %div{:style=>'padding:5px; font-size:15px; font-weight:bold; width: 400px; padding-top: 15px;float:left'}
              = category.name
            %div.arrow_icon{:style=>'width: 10px;float: right;margin: 18px;'}
            .clear
      %div
        %p Back to Categories
        - Goal.all.each do |goal|
          %div{:style=> 'margin-top:5px; margin-bottom:5px; background-color:#ffffff;border:1px solid #efefef; cursor:pointer'}
            %div{:style=>'width:30px; float:left;margin:10px'}
              = image_tag goal.avatar.url(:thumb)
            %div{:style=>'width: 400px; float:left;padding-top: 10px;'}
              %p{:style =>'font-size:16px; margin:0'}= goal.name
              %p{:style =>'font-size:9px; margin:0; line-height:5px'}= pluralize goal.users.count, 'member'

            %div.arrow_icon{:style=>'width: 10px;float: right;margin: 18px;'}
            .clear
- else
  .clear