%p#notice= notice

%p
  %b Name:
  = @course.name
%p
  %b Slug:
  = @course.slug
%p
  %b Hidden:
  = @course.hidden
%p
  %b Avatar:
  = @course.avatar

= link_to 'Edit', edit_course_path(@course)
\|
= link_to 'Back', courses_path
