<h2>Twitter</h2>
<% has_twitter = false %>
<% if !@swipe.swipe_twitter_1.nil? && @swipe.swipe_twitter_1.strip.length > 0 %>
    <p><strong>Twitter 1</strong></p>
    <%= text_field_tag 'swipe_twitter_1', @swipe.swipe_twitter_1, :class => 'twelve' %>
    <% has_twitter = true %>
<% end %>

<% if !@swipe.swipe_twitter_2.nil? && @swipe.swipe_twitter_2.strip.length > 0 %>
    <p><strong>Twitter 2</strong></p>
    <%= text_field_tag 'swipe_twitter_2', @swipe.swipe_twitter_2, :class => 'twelve' %>
    <% has_twitter = true %>
<% end %>

<% if !@swipe.swipe_twitter_3.nil? && @swipe.swipe_twitter_3.strip.length > 0 %>
    <p><strong>Twitter 3</strong></p>
    <%= text_field_tag 'swipe_twitter_3', @swipe.swipe_twitter_3, :class => 'twelve' %>
    <% has_twitter = true %>
<% end %>

<% if !has_twitter %>
    <p>The product owner did not upload any swipe Tweets.</p>
<% end %>

<h2>Facebook</h2>
<% has_facebook = false %>
<% if !@swipe.swipe_facebook_1.nil? && @swipe.swipe_facebook_1.strip.length > 0 %>
    <p><strong>Facebook 1</strong></p>
    <%= text_area_tag 'swipe_facebook_1', @swipe.swipe_facebook_1, :class => 'twelve' %>
    <% has_facebook = true %>
<% end %>

<% if !@swipe.swipe_facebook_2.nil? && @swipe.swipe_facebook_2.strip.length > 0 %>
    <p><strong>Facebook 2</strong></p>
    <%= text_area_tag 'swipe_facebook_2', @swipe.swipe_facebook_2, :class => 'twelve' %>
    <% has_facebook = true %>
<% end %>

<% if !@swipe.swipe_facebook_3.nil? && @swipe.swipe_facebook_3.strip.length > 0 %>
    <p><strong>Facebook 3</strong></p>
    <%= text_area_tag 'swipe_facebook_3', @swipe.swipe_facebook_3, :class => 'twelve' %>
    <% has_facebook = true %>
<% end %>

<% if !has_facebook %>
    <p>The product owner did not upload any swipe Facebook posts.</p>
<% end %>