.promo-section
  .promo-wrapper
    .info_box
      %h3.title
        = @market.name
      %p.autor
        %em by
        = @market.course.owner.fullname
      = link_to subscribe_orders_path(@market), :class => 'btn btn-arrow' do
        Take this course
        %span.price
          = penny_to_currency(@market.course.cost)
    .icon_box
      = image_tag('icons/guarantee.png')
    .clear
.container
  .main_section
    .post-wrapper
      = @market.content.html_safe if @market.content
      = link_to subscribe_orders_path(@market), :class => 'btn btn-red btn-arrow' do
        Take this course
        %span.price
          = penny_to_currency(@market.course.cost)
  .right_sidebar
    .modal_title2
      TAKEN BY
      = @course.users.length
      MEMBERS
    .member_box
      - @course.users.each do |user|
        .member_icon
          =image_tag(user.avatar.url(:thumb))
      .clear
    .modal_footer               
      .bottom_box
        - if current_user
          .like_box
            .like{:data => {:type => @market.course.class, :id => @market.course.id, :direction => 1, :voted => (@market.course.up_voted?(current_user) ? '1':'0')}}
              = @market.course.up_votes
            .dislike{:data => {:type => @market.course.class, :id => @market.course.id, :direction => -1, :voted => (@market.course.down_voted?(current_user) ? '1':'0')}}
              = @market.course.down_votes
            .clear
        - else
          .like_box
            .like
              = @market.course.up_votes
            .dislike
              = @market.course.down_votes
            .clear
      
        .comment_box
          31
        .add_me_box
          .unchecked +
          .checked
        .clear
    .modal_title3 WHAT YOU GET
    .what_you_get_box
      .media
        .pull-left
          .analysis_icon
        .media-body
          Over 34 lectures and 7.5 hours of content!
      .media
        .pull-left
          .natural_icon
        .media-body
          At the end of this course, you should be very comfortable in all kinds of natural light situations
      .media
        .pull-left
          .improve_icon
        .media-body
          Your fashion and beauty work will see significant improvement
      .media
        .pull-left
          .tools_icon
        .media-body
          If you have experience in shooting, you will be able to add some additional tools to your arsenal of light
    .modal_title3 YOUR INSTRUCTOR
    .instructor_box
      .instructor_head
        .instructor_pic
          = image_tag @market.course.owner.avatar.url(:square)
        .instructor_name
          = @market.course.owner.fullname
        .clear
      .instructor_description
        = @market.course.owner.instructor_about.html_safe
      .modal_title3 REVIEWS
      .review_box
        - @market.course.reviews.each do |review|
          .review
            .reviewer_pic
              = image_tag review.owner.avatar.url(:thumb)
            .review_body
              .review_info
                by
                = link_to review.owner.fullname, user_path(review.owner)
                %span 5 months ago
              .review_title Worth every penny!!
              .review_msg
                = review.content
            .clear
        = link_to "See all #{@market.course.reviews.length} reviews", market_reviews_path(@market), :class => 'see_all'
      .modal_title3 CURRICULUM
      .cirriculum_box
        - @market.course.sections.each_with_index do |section, index|
          .media
            .pull-left
              MODULE
              = index
            .media-body
              = section.name

      .modal_title3 FAQ
      .foq_box
        %ul.list_1
          %li How long do I have access to the course materials?
          %li You can view and review the lecture materials indefinitely, like an on-demand channel.
          %li What is the refund policy on the course?
          %li
            We like to keep our users happy, so we have a 30-day no questions asked refund policy. Send an email to support@idealme.com for refund requests.
          %li Can I take my courses with me wherever I go?
      .modal_title3 AS SEEN IN
      .partners_box
        .elle_icon
        .fab_icon
        .oxygen_icon
        .clear