.container

  / Course Wp
  .course-wp
    / L Col
    .l-col
      .image
        %img{alt: "", src: "/assets/course-image-1.png"}/
      %h4 Your Teacher
      .teacher
        .image-t
          = image_tag(@market.course.owner.avatar.url(:thumb))
        %span.name
          = @market.course.owner.fullname
        .cl
      %p
        = @market.course.owner.instructor_about.html_safe
        %br/
        %a{href: "#"} More
    / End L Col
    / C Col
    .c-col
      .c-top
        %h2
          = @market.name
        %p
          -#= @market.subhead
        .actions
          %ul
            %li
              %span.likes 352
              %span.unlikes 1
            %li
              %a{href: "#"} 3 reviews
            %li.last
              %span.enrolled 12 enrolled
          .cl
        .enroll-wp
          %a.enroll-btn{href: "#"}
            %span.left Enroll
            %span.price
              = penny_to_currency(@market.course.cost)
            %span.cl
          %span.s-text 30 Day Money Back Guarantee
          %span.anchor
      / Tabs
      .tabs
        .tabs-nav
          %ul
            %li
              %a{href: "#tab-1"} About this course
            %li
              %a{href: "#tab-2"} Syllabus
            %li
              %a{href: "#tab-3"} Reviews
          .cl
        .tabs-cnt
          / Tab 1
          #tab-1.tab
            - if @market.content
              - content = @market.content
              - content = render_payloads(@payloads,content)
              - content = render_polls(@polls, content)
              = content.html_safe
          / End Tab 1
          / Tab 2
          #tab-2.tab
            .modules
              %table{border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
                %tr
                  %td.col-1 MODULE 1
                  %td Goal Setting for Your Ideal Me
                %tr
                  %td.col-1 MODULE 2
                  %td Goal Setting for Your Ideal Me
                %tr
                  %td.col-1 MODULE 2
                  %td Goal Setting for Your Ideal Me
                %tr
                  %td.col-1 MODULE 3
                  %td Goal Setting for Your Ideal Me
                %tr
                  %td.col-1 MODULE 4
                  %td Goal Setting for Your Ideal Me
                %tr
                  %td.col-1 MODULE 5
                  %td Goal Setting for Your Ideal Me
                %tr
                  %td.col-1 MODULE 6
                  %td Goal Setting for Your Ideal Me
                %tr
                  %td.col-1 MODULE 7
                  %td Goal Setting for Your Ideal Me
                %tr
                  %td.col-1 MODULE 8
                  %td Goal Setting for Your Ideal Me
                %tr
                  %td.col-1 MODULE 9
                  %td Goal Setting for Your Ideal Me
                %tr
                  %td.col-1 MODULE 10
                  %td Goal Setting for Your Ideal Me
          / End Tab 2
          / Tab 3
          #tab-3.tab
            .review
              .image
                %img{alt: "", src: "/assets/course-image-4.png"}/
              .text
                .top
                  by
                  = succeed "," do
                    %a{href: "#"} Gökçe Çözen
                  %span.moto Worth every penny!!
                %p I loved all the information and the Sadie's showing how the pose is suppose to be done. Very inspiring and encouraging to complete the whole 14 day program. I was able to feel the benefits of the program from day one. I encourage people to try this
              .cl
            .review
              .image
                %img{alt: "", src: "/assets/course-image-5.png"}/
              .text
                .top
                  by
                  = succeed "," do
                    %a{href: "#"} Olga Bereziuk
                  %span.moto Worth every penny!!
                %p I loved all the information and the Sadie's showing how the pose is suppose to be done. Very inspiring and encouraging to complete the whole 14 day program. I was able to feel the benefits of the program from day one. I encourage people to try this
              .cl
            .review
              .image
                %img{alt: "", src: "/assets/course-image-6.png"}/
              .text
                .top
                  by
                  = succeed "," do
                    %a{href: "#"} Susanne Mumpitz
                  %span.moto Worth every penny!!
                %p I loved all the information and the Sadie's showing how the pose is suppose to be done. Very inspiring and encouraging to complete the whole 14 day program. I was able to feel the benefits of the program from day one. I encourage people to try this
              .cl
          / End Tab 3
      / End Tabs
    / End C Col
    / R Col
    .r-col
      .enroll-wp
        %a.enroll-btn{href: "#"}
          %span.left Enroll
          %span.price
            = penny_to_currency(@market.course.cost)
          %span.cl
        %span.s-text 30 Day Money Back Guarantee
        %span.anchor
      .widget-list
        %ul
          %li
            %span.icon.icon-1
            On-demand internet class
          %li
            %span.icon.icon-2
            Work at your own pace
          %li
            %span.icon.icon-3
            99 Video Lessons
          %li
            %span.icon.icon-4
            23 Documents
          %li
            %span.icon.icon-5
            Questions and Answers
          %li
            %span.icon.icon-6
            Lifetime Access
      %h4 RECOMMENDED FOR
      .mode-item
        .image
          %img{alt: "", src: "/assets/course-image-3.png"}/
        .text
          Relax more
        .cl
      .mode-item
        .image
          %img{alt: "", src: "/assets/course-image-3.png"}/
        .text
          Get better sleep
        .cl
    / End R Col
    .cl
  / End Course Wp