<div class="row">
  <div class="twelve columns">
    <dl class="sub-nav">
      <dt>Filter:</dt>
      <dd class="<%= active_tab?('video', @tab, 'active', 'inactive') %>">
        <%= link_to("Video", dashboard_swipe_path(@swipe, {:tab => 'video'})) %>
      </dd>
      <dd class="<%= active_tab?('email', @tab, 'active', 'inactive') %>">
        <%= link_to("Emails", dashboard_swipe_path(@swipe, {:tab => 'email'})) %>
      </dd>
      <dd class="<%= active_tab?('banner', @tab, 'active', 'inactive') %>">
        <%= link_to("Banners", dashboard_swipe_path(@swipe, {:tab => 'banner'})) %>
      </dd>
      <dd class="<%= active_tab?('social', @tab, 'active', 'inactive') %>">
        <%= link_to("Social", dashboard_swipe_path(@swipe, {:tab => 'social'})) %>
      </dd>
    </dl>
    <% case @tab %>
    <% when 'video' %>
        <%= render(:partial => 'dashboard/swipes/partials/video') %>
    <% when 'email' %>
        <%= render(:partial => 'dashboard/swipes/partials/email') %>
    <% when 'banner' %>
        <%= render(:partial => 'dashboard/swipes/partials/banner') %>
    <% when 'social' %>
        <%= render(:partial => 'dashboard/swipes/partials/social') %>
    <% end %>
  </div>
</div>