.container
  .top-section
    .goal-name
      = @goal_user.goal.name
    .goal-privacy.btn-group
      %button.btn.goal-privacy-toggle{:data => { :goal_user_id => @goal_user.id, :goal_user_private => (@goal_user.private ? 1 : 0 )}} 
        - if @goal_user.private?
          Private
        - else
          Public
    .clear
  .menu_section
    %ul.user_menu.tabs
      %li
        %a.activity_icon{:href => "#"} Activity
      %li
        %a.top_gems_icon{:href => "#"} Top gems
      %li
        %a.my_gem_icon{:href => "#"}
          %span +
          My Gems
      %li
        %a.course_icon{:href => "#"} courses
      %li
        %a.community_icon{:href => "#"} Community
    .clear
  .panes
    %div
      %section.main_section
        %section.share_section
          .toggle_box
            %a.check_in_toggle.on{:href => "#"} Check in
            %a.share_toggle{:href => "#"} Share gem
          .input-append
            %input#appendedInputButton.share_input.span2{:type => "text", :value => "Say how you make progress today..."}/
            %button.btn.btn-red.btn-checkin{:type => "button"} Checkin
          .checked_in_msg You checked in today. Come back tomorrow!
        %section.wall_section
          .v_line
          %ul.posts_box
        
            %li
              .post
                .post_arrow
                .post_date 5m
                .user_pic
                  %img{:src => "../img/user_2.png"}/
                .post_body
                  .post_title
                    %a.post_autor{:href => "#"} Rachel Crossley
                    shared a gem:
                    %a.post_link.open_pop_up{"data-popupname" => "pop_up_example", "data-top" => "146", "data-width" => "600", :href => "#"} Amazing free workout mixes
                  .post_msg
                    .post_msg_arrow
                    Check out these mixes, they are so awesome and you can't beat free!!!
                  .post_bottom
                    .like 1
                    .dislike 0
                    .comment_count 0
                    %a.add_comment{:href => "#"} Add comment
                  .comments_box
            %li
              .post
                .post_arrow
                .post_date 15m
                .user_pic
                  %img{:src => "../img/user_2.png"}/
                .post_body
                  .post_title
                    %a.post_autor{:href => "#"} Erika
                    is supporting you
            %li
              .post
                .post_arrow
                .post_date 1d
                .user_pic
                  %img{:src => "../img/user_2.png"}/
                .post_body
                  .post_title
                    %a.post_autor{:href => "#"} You
                    checked in for the 100th day in a row!
                  .post_msg
                    .post_msg_arrow
                    I DID IT!!!
                  .post_bottom
                    .like 0
                    .dislike 0
                    .comment_count 3
                    %a.add_comment{:href => "#"} Add comment
                  .comments_box
                    .comment
                      .user_pic
                        %img{:src => "../img/user_2.png"}/
                      .comment_txt
                        Nice work girl!
                      .clear
                    .comment
                      .user_pic
                        %img{:src => "../img/user_2.png"}/
                      .comment_txt
                        Way to go. Do you feel like a million $$$?!?
                      .clear
                    .comment
                      .user_pic
                        %img{:src => "../img/user_2.png"}/
                      .comment_txt
                        I feel GREAT and BF thinks I look good. Keep at it people this works!
                      .clear
      %section.right_sidebar
        .check_in_box
          .check_in_status
            
            - if @last_checkin.today?
              .checkin-today-has-checkin
                %p.checkined_in_title CHECKED IN
                %p First time. Let's do this!
            - else
              .checkin-today-no-checkin 
                NO CHECKINS
              
              
              
            .checkin-this-week
              .checkin-this-week-icon 
                = @checkins_this_week.length
              .checkin-this-week-copy 
                CHECK 
                = 'IN'.pluralize(@checkins_this_week.length).upcase
            .clear
          .checkin-calendar
            .checkin-calendar-time-log          
              - n = 17
              - end_date = Checkin.end_date  
              - from_date = Checkin.start_date(n)
              - (-1..n-2).each do |week|
                - start_date = end_date - 6.days
                %div
                  - if week > 0 
                    = start_date.strftime('%d/%m')
                    \-
                    = end_date.strftime('%d/%m')
                  - elsif week == -1
                    This week
                  - else     
                    Last week
                - end_date = start_date - 1.day
              
            .days_section
              .days_head
                %div S
                %div M
                %div T
                %div W
                %div T
                %div F
                %div S
              - end_date = Checkin.end_date
              - (-1..n-2).each do |week|
                .days_row
                  - start_date = end_date - 6.days
                  - (0..6).each do |offset|
                    %div{:class => checkin_class(@checkins_7_weeks_dates, (start_date + offset).strftime('%Y%m%d') ), :data => {:date => (start_date + offset).strftime('%Y%m%d')}}
                - end_date = start_date - 1.day
              
    %div
      %table.gems
        %tr
          %td
            .offer_card
              %a.offer_pic.open_pop_up{"data-popupname" => "pop_up_example", "data-top" => "146", "data-width" => "600", :href => "#"}
                %img{:src => "../img/offer_img.png"}/
              .ruby_icon
              .offer_title
                %a.open_pop_up{"data-popupname" => "pop_up_example", "data-top" => "146", "data-width" => "600", :href => "#"} Start your To- Do list with things already done
              .clear
              .bottom_box
                .like_box
                  .like 352
                  .dislike 12
                  .clear
                .comment_box
                  31
                .add_me_box
                  .unchecked +
                  .checked
                .clear
          %td
            .offer_card
              %a.offer_pic.open_pop_up{"data-popupname" => "pop_up_example", "data-top" => "146", "data-width" => "600", :href => "#"}
                %img{:src => "../img/offer_img.png"}/
              .ruby_icon
              .offer_title
                %a.open_pop_up{"data-popupname" => "pop_up_example", "data-top" => "146", "data-width" => "600", :href => "#"} Start your To- Do list with things already done
              .clear
              .bottom_box
                .like_box
                  .like 352
                  .dislike 12
                  .clear
                .comment_box
                  31
                .add_me_box
                  .unchecked +
                  .checked
                .clear
          %td
            .offer_card
              %a.offer_pic.open_pop_up{"data-popupname" => "pop_up_example", "data-top" => "146", "data-width" => "600", :href => "#"}
                %img{:src => "../img/offer_img.png"}/
              .ruby_icon
              .offer_title
                %a.open_pop_up{"data-popupname" => "pop_up_example", "data-top" => "146", "data-width" => "600", :href => "#"} Start your To- Do list with things already done
              .clear
              .bottom_box
                .like_box
                  .like 352
                  .dislike 12
                  .clear
                .comment_box
                  31
                .add_me_box
                  .unchecked +
                  .checked
                .clear
          %td
            .offer_card
              %a.offer_pic.open_pop_up{"data-popupname" => "pop_up_example", "data-top" => "146", "data-width" => "600", :href => "#"}
                %img{:src => "../img/offer_img.png"}/
              .ruby_icon
              .offer_title
                %a.open_pop_up{"data-popupname" => "pop_up_example", "data-top" => "146", "data-width" => "600", :href => "#"} Start your To- Do list with things already done
              .clear
              .bottom_box
                .like_box
                  .like 352
                  .dislike 12
                  .clear
                .comment_box
                  31
                .add_me_box
                  .unchecked +
                  .checked
                .clear
          %td
            .offer_card
              %a.offer_pic.open_pop_up{"data-popupname" => "pop_up_example", "data-top" => "146", "data-width" => "600", :href => "#"}
                %img{:src => "../img/offer_img.png"}/
              .ruby_icon
              .offer_title
                %a.open_pop_up{"data-popupname" => "pop_up_example", "data-top" => "146", "data-width" => "600", :href => "#"} Start your To- Do list with things already done
              .clear
              .bottom_box
                .like_box
                  .like 352
                  .dislike 12
                  .clear
                .comment_box
                  31
                .add_me_box
                  .unchecked +
                  .checked
                .clear
        %tr
          %td
            .offer_card
              %a.offer_pic.open_pop_up{"data-popupname" => "pop_up_example", "data-top" => "146", "data-width" => "600", :href => "#"}
                %img{:src => "../img/offer_img.png"}/
              .ruby_icon
              .offer_title
                %a.open_pop_up{"data-popupname" => "pop_up_example", "data-top" => "146", "data-width" => "600", :href => "#"} Start your To- Do list with things already done
              .clear
              .bottom_box
                .like_box
                  .like 352
                  .dislike 12
                  .clear
                .comment_box
                  31
                .add_me_box
                  .unchecked +
                  .checked
                .clear
          %td
            .offer_card
              %a.offer_pic.open_pop_up{"data-popupname" => "pop_up_example", "data-top" => "146", "data-width" => "600", :href => "#"}
                %img{:src => "../img/offer_img.png"}/
              .ruby_icon
              .offer_title
                %a.open_pop_up{"data-popupname" => "pop_up_example", "data-top" => "146", "data-width" => "600", :href => "#"} Start your To- Do list with things already done
              .clear
              .bottom_box
                .like_box
                  .like 352
                  .dislike 12
                  .clear
                .comment_box
                  31
                .add_me_box
                  .unchecked +
                  .checked
                .clear
          %td
            .offer_card
              %a.offer_pic.open_pop_up{"data-popupname" => "pop_up_example", "data-top" => "146", "data-width" => "600", :href => "#"}
                %img{:src => "../img/offer_img.png"}/
              .ruby_icon
              .offer_title
                %a.open_pop_up{"data-popupname" => "pop_up_example", "data-top" => "146", "data-width" => "600", :href => "#"} Start your To- Do list with things already done
              .clear
              .bottom_box
                .like_box
                  .like 352
                  .dislike 12
                  .clear
                .comment_box
                  31
                .add_me_box
                  .unchecked +
                  .checked
                .clear
          %td
            .offer_card
              %a.offer_pic.open_pop_up{"data-popupname" => "pop_up_example", "data-top" => "146", "data-width" => "600", :href => "#"}
                %img{:src => "../img/offer_img.png"}/
              .ruby_icon
              .offer_title
                %a.open_pop_up{"data-popupname" => "pop_up_example", "data-top" => "146", "data-width" => "600", :href => "#"} Start your To- Do list with things already done
              .clear
              .bottom_box
                .like_box
                  .like 352
                  .dislike 12
                  .clear
                .comment_box
                  31
                .add_me_box
                  .unchecked +
                  .checked
                .clear
          %td
            .offer_card
              %a.offer_pic.open_pop_up{"data-popupname" => "pop_up_example", "data-top" => "146", "data-width" => "600", :href => "#"}
                %img{:src => "../img/offer_img.png"}/
              .ruby_icon
              .offer_title
                %a.open_pop_up{"data-popupname" => "pop_up_example", "data-top" => "146", "data-width" => "600", :href => "#"} Start your To- Do list with things already done
              .clear
              .bottom_box
                .like_box
                  .like 352
                  .dislike 12
                  .clear
                .comment_box
                  31
                .add_me_box
                  .unchecked +
                  .checked
                .clear
    %div
      %table.gems
        %tr
          %td
            .offer_card
              %a.offer_pic.open_pop_up{"data-popupname" => "pop_up_example", "data-top" => "146", "data-width" => "600", :href => "#"}
                %img{:src => "../img/offer_img.png"}/
              .ruby_icon
              .offer_title
                %a.open_pop_up{"data-popupname" => "pop_up_example", "data-top" => "146", "data-width" => "600", :href => "#"} Start your To- Do list with things already done
              .clear
              .bottom_box
                .like_box
                  .like 352
                  .dislike 12
                  .clear
                .comment_box
                  31
                .add_me_box
                  .unchecked +
                  .checked
                .clear
          %td
            .offer_card
              %a.offer_pic.open_pop_up{"data-popupname" => "pop_up_example", "data-top" => "146", "data-width" => "600", :href => "#"}
                %img{:src => "../img/offer_img.png"}/
              .ruby_icon
              .offer_title
                %a.open_pop_up{"data-popupname" => "pop_up_example", "data-top" => "146", "data-width" => "600", :href => "#"} Start your To- Do list with things already done
              .clear
              .bottom_box
                .like_box
                  .like 352
                  .dislike 12
                  .clear
                .comment_box
                  31
                .add_me_box
                  .unchecked +
                  .checked
                .clear
          %td
            .offer_card
              %a.offer_pic.open_pop_up{"data-popupname" => "pop_up_example", "data-top" => "146", "data-width" => "600", :href => "#"}
                %img{:src => "../img/offer_img.png"}/
              .ruby_icon
              .offer_title
                %a.open_pop_up{"data-popupname" => "pop_up_example", "data-top" => "146", "data-width" => "600", :href => "#"} Start your To- Do list with things already done
              .clear
              .bottom_box
                .like_box
                  .like 352
                  .dislike 12
                  .clear
                .comment_box
                  31
                .add_me_box
                  .unchecked +
                  .checked
                .clear
          %td
          %td
    %div
      %table.courses
        %tr
          %td
            .offer_card
              %a.open_pop_up{"data-popupname" => "pop_up_example", "data-top" => "146", "data-width" => "600", :href => "#"}
                %img{:src => "../img/recomandation_img.png"}/
              %a.offer_title.open_pop_up{"data-popupname" => "pop_up_example", "data-top" => "146", "data-width" => "600", :href => "#"} Negotiate a Lower Rent
              .vendor
                .vendor_pic
                  %a{:href => "#"}
                    %img{:src => "../img/vendor.png"}/
                %a.vendor_name{:href => "#"} Jen Snow
                .vendor_working_area Lifecoach - Mother - Guru
                .clear
              .bottom_box
                .like_box
                  .like 352
                  .dislike 12
                  .clear
                .price_box
                  $26.96
                .add_me_box
                  .unchecked +
                  .checked
                .clear
          %td
          %td
          %td
          %td
    %div
      .community_title GOAL MATES
      .community_box
        .user_box
          .user_pic
            %img{:src => "../img/user_5.png"}/
          .user_name Abigial Pogrebin
        .user_box
          .user_pic
            %img{:src => "../img/user_6.png"}/
          .user_name Jen Snow
        .user_box
          .user_pic
            %img{:src => "../img/user_5.png"}/
          .user_name Abigial Pogrebin
        .user_box
          .user_pic
            %img{:src => "../img/user_6.png"}/
          .user_name Jen Snow
        .user_box
          .user_pic
            %img{:src => "../img/user_5.png"}/
          .user_name Abigial Pogrebin
        .user_box
          .user_pic
            %img{:src => "../img/user_6.png"}/
          .user_name Jen Snow
        .user_box
          .user_pic
            %img{:src => "../img/user_5.png"}/
          .user_name Abigial Pogrebin
        .user_box
          .user_pic
            %img{:src => "../img/user_6.png"}/
          .user_name Jen Snow
        .user_box
          .user_pic
            %img{:src => "../img/user_5.png"}/
          .user_name Abigial Pogrebin
        .user_box
          .user_pic
            %img{:src => "../img/user_6.png"}/
          .user_name Jen Snow
        .clear
      .community_title SUPPORTERS
      %p.community_txt
        You don't have any supporters yet.  They can be a great way to stay motivated and share the satisfaction of reaching a goal.
        %br/
        %a{:href => "#"} Invite family or friends to support you for this goal
        
.pop_up_example
  .pop_up_header
    .gem_title Amazing Free workout mixes
    .fright
      .add_me_box
        .unchecked +
        .checked
      .like_box
        .like 352
        .dislike 12
        .clear
      .clear
    .clear
  .close_pop_up
  .pop_up_body
    %img{:src => "../img/pic_1.png"}/
  .pop_up_footer
    .link_to Visit: http://www.youtube.com/watch?v=ZMpBQGsusK4
    %ul.posts_box
      %li
        .post
          .post_arrow
          .post_date 5m
          .user_pic
            %img{:src => "../img/user_2.png"}/
          .post_body
            .post_title
              %a.post_autor{:href => "#"} Rachel Crossley
              made this gem
            .post_msg.white_bg_mod
              I actually found this article super helpful. Makes you feel like you're winning!
            .post_bottom
              .like 1
              .dislike 0
              .clear
      %li
        .post
          .post_arrow
          .post_date 1m
          .user_pic
            %img{:src => "../img/user_2.png"}/
          .post_body
            .post_title
              %a.post_autor{:href => "#"} You
            .post_msg
              .post_msg_arrow
              Add a comment