.container
  .top-section
    .goal-name
      = @goal_user.goal.name
    .goal-privacy.btn-group
      %button.btn.goal-privacy-toggle{:data => { :goal_user_id => @goal_user.id, :goal_user_private => (@goal_user.private ? 1 : 0 )}} 
        - if @goal_user.private?
          Private
        - else
          Public
    .clear
  .menu-section
    %ul.user-menu
      %li{:class => active_tab?(@tab, 'activity')}
        = link_to 'Activity', goal_path(@goal_user, {:tab => 'activity'}), :class => 'activity-icon'
      %li{:class => active_tab?(@tab, 'top_gem')}
        = link_to 'Top gems', goal_path(@goal_user, {:tab => 'top_gem'}), :class => 'top-gem-icon'
      %li{:class => active_tab?(@tab, 'my_gem')}
        = link_to 'My gems', goal_path(@goal_user, {:tab => 'my_gem'}), :class => 'my-gem-icon'
      %li{:class => active_tab?(@tab, 'course')}
        = link_to 'Courses', goal_path(@goal_user, {:tab => 'course'}), :class => 'course-icon'
      %li{:class => active_tab?(@tab, 'community')}
        = link_to 'Community', goal_path(@goal_user, {:tab => 'community'}), :class => 'community-icon'
    .clear
  .panes
    %div.active
      - if @tab == 'activity'
        = render :partial => 'goals/partials/activity'
      - elsif @tab == 'top_gem'
        = render :partial => 'goals/partials/top_gem'
      - elsif @tab == 'my_gem'
        = render :partial => 'goals/partials/my_gem'
      - elsif @tab == 'course'
        = render :partial => 'goals/partials/course'
      - elsif @tab == 'community'
        = render :partial => 'goals/partials/community'