= formatted_form_for(@user, :url => url, :html => {:class => 'form-horizontal'}) do |f|
  %fieldset
    #legend
      %legend User

  = image_tag @user.avatar.url(:square), :height => '50', :width => '50'
  = f.file_field :avatar, label: false
  = f.text_field :username, :autofocus => true
  = f.text_field :tagline
  = f.text_field :firstname
  = f.text_field :lastname
  = f.email_field :email
  -# = f.password_field :password
  -# = f.password_field :password_confirmation
  = f.text_field :affiliate_tag
  = f.text_area :instructor_about
  = f.submit 'Save', :class => 'btn btn-success'
  = link_to 'Back', admin_users_path, :class => 'btn'
