= form_for @ajax_goal do |f|
  - if @ajax_goal.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ajax_goal.errors.count, "error")} prohibited this ajax_goal from being saved:"
      %ul
        - @ajax_goal.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
