%p#notice= notice

%p
  %b Content:
  = @review.content
%p
  %b Recommended:
  = @review.recommended
%p
  %b Owner:
  = @review.owner_id
%p
  %b Course:
  = @review.course

= link_to 'Edit', edit_review_path(@review)
\|
= link_to 'Back', reviews_path
