= formatted_form_for(@goal, :url => url, :html => {:class => 'form-horizontal'}) do |f|
  %fieldset
    #legend
      %legend Goal
  = f.text_field :name, :autofocus => true
  = f.file_field :avatar
  = f.check_box :hidden
  = f.check_box :welcome

  = f.submit 'Save', :class => 'btn btn-success'
  = link_to 'Back', admin_goals_path, :class => 'btn'
