%h1 Courses

%table.table
  %tr
    %th
      Course
    %th
      Default Market
    %th
      Cost
    %th
      Subscribed
    %th
      Owner

  - @courses.each do |course|
    %tr
      %td= link_to course.name, edit_admin_course_path(course)
      %td= link_to course.default_market.name, edit_admin_market_path(course.default_market)
      %td= penny_to_currency(course.cost)
      %td= course.users.length
      %td= link_to course.owner.fullname, admin_user_path(course.owner)

%br

= link_to 'New course', new_admin_course_path, :class => 'btn'
