= formatted_form_for(@market, :url => url, :html => {:class => 'form-horizontal'}) do |f|
  %fieldset
    #legend
      %legend Market
  = f.text_field :name, :autofocus => true
  = f.text_field :affiliate_tag
  = f.select :course_id, Course.all.collect { |course| [course.name, course.id] }, {}, :class => 'select2'
  = f.text_area :content, :class => 'tinymce'
  = f.file_field :avatar

  .control-group
    %label.control-label Features
    .controls.inline
      -#= render partial: 'feature', collection: @market.features

      = f.fields_for :features do |feature|
        = feature.file_field :avatar
        = feature.text_area :description, :rows => 3, :cols => 80
        - if feature.object.persisted?
          = feature.hidden_field :_destroy, :class => 'delete-feature-field'
          %button.delete-feature
            delete



  = f.submit 'Save', :class => 'btn btn-success'
  = link_to 'Back', admin_markets_path, :class => 'btn'
  - if @market.persisted?
    = link_to 'Payloads', admin_market_payloads_path(@market), :class => 'btn'
