= formatted_form_for(@market, url: url, html: {class: 'form-horizontal'}) do |f|
  = hidden_field_tag :active_view, :previews
  %fieldset
    #legend
      %legend Market
  = f.text_field :name
  = f.text_field :subheader
  = f.text_field :affiliate_tag
  = f.select :course_id, Course.all.collect { |course| [course.name, course.id] }, {}, class: 'select2'
  = f.text_area :content, class: 'tinymce'
  = image_tag @market.avatar.url(:square), height: '50', width: '50'
  = f.file_field :avatar

  .control-group
    %label.control-label Features
    .controls.inline
      -#= render partial: 'feature', collection: @market.features

      = f.fields_for :features do |feature|
        = image_tag(feature.object.avatar.url(:square), height: '50', width: '50')
        = feature.file_field :avatar, label: ''
        = feature.text_area :description, rows: 3, cols: 80, label: ''
        - if feature.object.persisted?
          = feature.hidden_field :_destroy, class: 'delete-feature-field'
          %button.delete-feature
            delete
        %br



  = f.submit 'Save', class: 'btn btn-success'
  = link_to 'Back', admin_markets_path, class: 'btn'
  - if @market.persisted?
    = link_to 'Payloads', admin_market_payloads_path(@market), class: 'btn'
