<!doctype html>
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7]
  <html class='no-js lt-ie9 lt-ie8 lt-ie7' lang='en'>
/[if IE 7]
  <html class='no-js lt-ie9 lt-ie8' lang='en'>
/[if IE 8]
  <html class='no-js lt-ie9' lang='en'>
/ Consider adding a manifest.appcache: h5bp.com/d/Offline
/[if gt IE 8] ><!
%html.no-js{:lang => 'en'}
  / <![endif]
  %head
    = display_meta_tags :site => 'Ideal Me'
    %meta{:content => 'width=1300', :name => 'viewport'}/
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet", :type => "text/css"}/
    = tinymce :content_css => asset_path('application.css')
    = favicon_link_tag 'apple-touch-icon-144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
  %body{:class => body_class}
    = image_tag('staging.png', :style=>"position: fixed; top: 0;left: 0;z-index: 99999;") if Rails.env.staging?
    /
      Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
      chromium.org/developers/how-tos/chrome-frame-getting-started
    /[if lt IE 7] <p class='chromeframe'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> or <a href='http://www.google.com/chromeframe/?redirect=true'>activate Google Chrome Frame</a> to improve your experience.</p>
    %header
      - if current_user
        .user_box
          =image_tag current_user.avatar(:thumb), :class => 'user_pic'
          %ul.user_menu
            %li
              = link_to 'SETTINGS', user_edit_path(current_user)
            %li
              %a{:href => "#"} REMINDERS
            %li
              %a{:href => "#"} FIND FREINDS
            - if can? :access, :admin
              %li
                = link_to 'ADMIN', admin_root_path
            %li.sign_out
              = link_to 'SIGN OUT', destroy_user_session_path
        %ul.left_menu
          %li
            = link_to 'DISCOVER', discovers_path, :class => active_tab?('discovers', params[:controller])
          %li
            = link_to 'MARKETPLACE', markets_path, :class => active_tab?('markets', params[:controller])
          %li
            = link_to 'ME', user_path(current_user), :class => active_tab?('users', params[:controller])
        %form.search_box{:action=>"#"}
          %input.search_field{:type => "text", :placeholder=>"Search goals, gems, courses, people"}/
          %button.search_btn{:type => "submit"}
        .logo.logged_in
          = link_to('', root_path,:title=>'Ideal Me')
        .clear

      - else
        .container
          .social_box
            .fb-like{'data-href' => 'http://www.idealme.com', 'data-layout' => 'button_count', 'data-send' => 'false', 'data-show-faces' => 'false', 'data-width' => '450'}
          .sign_in_box
          %form.sign_in_box{:action => new_user_session_path,:method => :get}
            %input.btn{:type => 'submit', :value => 'Sign in'}/
          .logo
            = link_to('', root_path)
    %section.body_content
      - if flash[:alert]
        .alert.alert-error= flash[:alert]
      - if flash[:notice]
        .alert.alert-success= flash[:notice]
      - c = params[:controller].split('/')
      - if c.length == 2 && ['dashboard', 'admin', 'support'].include?(c[0])
        .container{:style => 'background:#ffffff; padding:10px;min-height:900px'}
          %div{:style=>'margin:10px'}
            = link_to 'Dashboard', admin_root_path, :class => 'btn'
            = link_to 'Markets', admin_markets_path, :class => 'btn'
            = link_to 'Courses', admin_courses_path, :class => 'btn'
            = link_to 'Sections', admin_sections_path, :class => 'btn'
            = link_to 'Lectures', admin_lectures_path, :class => 'btn'

            = link_to 'Users', admin_users_path, :class => 'btn'
            = link_to 'Goals', admin_goals_path, :class => 'btn'
            %hr
            = yield
      - else
        = yield


    %footer
      .container
        %ul.footer_bg
        %ul.footer_menu
          %li
            %a{:href => '#'} About
          %li
            %a{:href => '#'} Blog
          %li
            %a{:href => '#'} Terms of Use
          %li
            %a{:href => '#'} Privacy Policy
    .help_box
      Have a Question?
      %a{:href => '#'} Contact Us
      %br/
      = get_friendly_affiliate_tracking
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = '//connect.facebook.net/en_US/all.js#xfbml=1&appId=122762434513312';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));