<!doctype html>
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7]
  <html class='no-js lt-ie9 lt-ie8 lt-ie7' lang='en'>
/[if IE 7]
  <html class='no-js lt-ie9 lt-ie8' lang='en'>
/[if IE 8]
  <html class='no-js lt-ie9' lang='en'>
/ Consider adding a manifest.appcache: h5bp.com/d/Offline
/[if gt IE 8] ><!
%html.no-js{:lang => 'en'}
  / <![endif]
  %head
    %meta{:charset => 'utf-8'}/
    %title Ideal Me
    %meta{:content => '', :name => 'description'}/
    %meta{:content => 'width=1200', :name => 'viewport'}/
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet", :type => "text/css"}/
  %body.marketplace.logged_in
    = image_tag('staging.png', :style=>"position: fixed; top: 0;left: 0;z-index: 99999;") #- if Rails.env.staging?
    /
      Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
      chromium.org/developers/how-tos/chrome-frame-getting-started
    /[if lt IE 7] <p class='chromeframe'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> or <a href='http://www.google.com/chromeframe/?redirect=true'>activate Google Chrome Frame</a> to improve your experience.</p>
    %header
      - if current_user || true
        .user_box
          =image_tag 'anonymous_user.png'
          %ul.user_menu
            %li
              %a{:href => "#"} SETTINGS
            %li
              %a{:href => "#"} REMINDERS
            %li
              %a{:href => "#"} FIND FREINDS
            %li.sign_out
              %a{:href => "#"} SIGN OUT
        %ul.left_menu
          %li
            %a{:href => "#"} DISCOVER
          %li
            = link_to('MARKETPLACE', markets_path, :class=>'active')
          %li
            %a{:href => "#"} ME
        %form.search_box{:action=>"#"}
          %input.search_field{:type => "text", :value=>"Search goals, gems, courses, people",:placeholder=>"Search goals, gems, courses, people"}/
          %button.search_btn{:type => "submit"}
        .logo.logged_in
          = link_to('', root_path,:title=>'Ideal Me')
        .clear

      - else
        .container
          .social_box
            .fb-like{'data-href' => 'http://www.idealme.com', 'data-layout' => 'button_count', 'data-send' => 'false', 'data-show-faces' => 'false', 'data-width' => '450'}
          .sing_in_box
          %form.sing_in_box{:action=>new_user_session_path,:method => :get}
            %input.btn{:type => 'submit', :value => 'Sing in'}/
          .logo
            = link_to('', root_path)
    %section.body_content
      = yield
    %footer
      .container
        %ul.footer_bg
        %ul.footer_menu
          %li
            %a{:href => '#'} About
          %li
            %a{:href => '#'} Blog
          %li
            %a{:href => '#'} Terms of Use
          %li
            %a{:href => '#'} Privacy Policy
    .help_box
      Have a Question?
      %a{:href => '#'} Contact Us
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = '//connect.facebook.net/en_US/all.js#xfbml=1&appId=122762434513312';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));